<app-menu></app-menu>
<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>

<br>
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <mat-card [style.backgroundColor]="'lightblue'">
        <i class="fa fa-send" aria-hidden="true">View All Report</i>
      </mat-card>
    </div>
  </div>
</div> -->

<!-- <mat-toolbar [style.backgroundColor]="'lightblue'">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Serach Here" />
  </mat-form-field>
</mat-toolbar> -->

<!-- </div>  
    <div class="container"> -->

<!-- <div class="example-container mat-elevation-z8" class="hdfont">
  <div class="example-header" style="background-color: rgb(231, 238, 240)">
    <div class="row justify-content-center jumbotron" style="border-bottom:solid 2px rgb(14, 13, 13)">
      <div class="row">
       
      <div class="col-sm-10 h5  text-center">
        Total Sms Found
      </div>
      <div class="col-sm-2 text-right">
        <span class="badge badge-pill badge-danger  text-right;">{{numberOfData}} </span>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
    

    </div>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort> -->


<!-- ID Column -->
<!-- <ng-container matColumnDef="reportid">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="hdfont">ReportId </mat-header-cell> -->
<!--  <mat-cell *matCellDef="let row" hidden> {{row.reportid}} </mat-cell> -->
<!-- <mat-cell *matCellDef="let row ;let i=index;"> {{i+1}} </mat-cell>
    </ng-container> -->

<!-- Progress Column -->
<!-- <ng-container matColumnDef="mobile">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="hdfont">Mobile</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.mobile}} </mat-cell>
    </ng-container> -->

<!-- Name Column -->
<!-- <ng-container matColumnDef="reason">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="hdfont"> Reason </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.reason}} </mat-cell>
    </ng-container> -->

<!-- Name Column -->
<!-- <ng-container matColumnDef="response">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="hdfont"> Response </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.response}} </mat-cell>
      </ng-container> -->


<!-- <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="hdfont"> Status </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
      </ng-container> -->
<!-- Name Column -->
<!-- <ng-container matColumnDef="scheduleDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="hdfont"> ScheduleDate </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.scheduleDate}} </mat-cell>
    </ng-container> -->


<!-- Color Column -->
<!-- <ng-container matColumnDef="sendBy">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="hdfont"> SendBy </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.sendBy}} </mat-cell>
    </ng-container> -->

<!-- Color Column -->
<!-- <ng-container matColumnDef="phoneDirectoryName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="hdfont"> PhoneDirectoryName </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.phoneDirectoryName}} </mat-cell>
    </ng-container> -->

<!-- <ng-container matColumnDef="contactGroupName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="hdfont">GroupName </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.contactGroupName}} </mat-cell>
    </ng-container> -->


<!-- <ng-container matColumnDef="departmentName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="hdfont"> DepartmentName </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.departmentName}} </mat-cell>
    </ng-container> -->

<!-- <ng-container matColumnDef="smsName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="hdfont"> SmsName </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.smsName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="smsText">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="hdfont"> SmsText </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.smsText}} </mat-cell>
    </ng-container> -->



<!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row ; columns: displayedColumns;">
    </mat-row>

  </mat-table>

  <div class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">

    Sorry No Report Found
  </div> -->

<!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->

<!-- <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]">
      </mat-paginator>  -->
<!-- <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</div> -->


<div class="container-fluid">

  <div class="row" style="padding:20px">

    <div class="col-sm-12">
      <div class="card h-100 text-black bg-secondary">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-1">
                <button class="btn-sm" (click)="refeshPage()"><img src="../../assets/images/Button-Refresh-icon.png" style="width:20px;height:20px;" placement="right" ngbTooltip="Refresh"> </button>

            </div>
            <div class="col-sm-10 h5  text-center">
              Sms Report
            </div>
            <div class="col-sm-1 pull-right">
              <span class="badge badge-pill badge-danger  text-right;">{{totalNumberOfData}} </span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-sm-12 form-inline" style="margin-bottom:10px;padding:5px;background-color: rgb(190, 229, 235);">

            <!-- <div class="col-sm-2 form-inline">
              <input type="text" class="form-control col-sm-9 form-control-sm" name="mobile" [(ngModel)]="filter.mobile" placeholder="Mobile No">
            </div> -->

              <div class="col-sm-12 form-inline">
                  <label class="col-sm-1 col-sm-form-label form-control-sm "><b>From:</b></label>
                  <input type="date" class="form-control col-sm-2 form-control-sm" name="dateFrom" [(ngModel)]="d.dateFrom" #dateFrom="ngModel">
                  <label class="col-sm-1 col-sm-form-label form-control-sm "><b>To:</b></label>
                  <input type="date" class="form-control col-sm-2 form-control-sm" name="dateTo" [(ngModel)]="d.dateTo" #dateTo="ngModel">
                  <!-- <i class="fa fa-search" aria-hidden="true"  data-toggle="tooltip" title="Search" style="color:blue;font-size:20px;margin-left:10px;" (click)="getReportList()"></i> -->
               
                  <label *ngIf="isAdminTrue" for="example-text-input" class="col-sm-2 col-form-label form-control-sm" style="margin-left:5px;">
                    <b> Select User</b>
                     
                   </label>
                   <div *ngIf="isAdminTrue" class="col-sm-3 ">
                       <select class="form-control  form-control-sm" name="loginId" [(ngModel)]="filter.loginId" (change)="changeLoginId()" style=" width: 150px;">
                         <option  value="{{allUser}}">All</option>
                         <option value="{{user.loginId}}" *ngFor="let user of userList">{{user.loginId}}</option>
                         </select>
                    
                   </div>
                </div>

              <!-- <div class="col-sm-2 form-inline">
                  <label for="limit" class="col-sm-3 col-sm-form-label form-control-sm "><b>Limit:</b></label>
                  <input type="number" class="form-control col-sm-6 form-control-sm" name="limit" [(ngModel)]="limit" min="1" [attr.max]="[numberOfData]"
                    step="1" placeholder="Limit">
              </div>

              <div class="col-sm-2 form-inline">
                  <label for="page" class="col-sm-3 col-sm-form-label form-control-sm"><b>Page:</b></label>
                  <input type="number" class="form-control col-sm-6 form-control-sm" name="page" [(ngModel)]="page" min="1" [attr.max]="[numberOfData]"
                    step="1" placeholder="Page">
              </div> -->
</div>

              <!-- <div *ngIf="isAdminTrue" class="col-sm-12 form-inline" style="margin-bottom:10px;padding:5px;background-color: rgb(190, 229, 235);">

                  
                  <div class="form-group row">
                      <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm" style="margin-left:5px;">
                       <b> Select User</b>
                        
                      </label>
                      <div class="col-sm-6 ">
                          <select class="form-control form-control-sm" name="loginId" [(ngModel)]="filter.loginId" (change)="changeLoginId()" >
                              <option [disabled]="true" [value]="0">---------------Select---------------</option>
                              <option value="{{user.loginId}}" *ngFor="let user of userList">{{user.loginId}}</option>
                            </select>
                       
                      </div>
                    </div>

            </div> -->



            <div class="table-responsive">
              <table class="table table-sm">
                <thead>
                  <tr class="table-info">
                    <th>Id</th>
                    <th>Mobile</th>
                    <th width="250px">Message</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>status</th>
                    <th>Send By</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-info" *ngFor="let report of reportList | datafilter:filter | slice:(page-1)*limit:page*limit;let ind=index;"
                    ng-style="{'background-color': report.flag == true ? 'red' : 'white'">

                    <td class="{{report.flag}}">{{report.id}}</td>
                    <td class="{{report.flag}}"> {{report.mobile}}</td>
                    <td class="{{report.flag}}" width="650px">{{report.smsText}}</td>
                    <td class="{{report.flag}}" width="200px">{{report.scheduleDate}}</td>
                    <td class="{{report.flag}}" width="200px">{{report.insertdatetime | date:'HH:mm:ss'}}</td>
                    <td class="{{report.flag}}" width="50px">
                      <!-- <span *ngIf="report.flag">SUCCESS</span>
                          <span *ngIf="!report.flag">FAIL</span> -->
                      {{report.reponse}}
                    </td>
                    <td class="{{report.flag}}" width="100px">{{report.loginId}}</td>
                  </tr>

                </tbody>
              </table>
              <div class="text-center">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary btn-sm">
                    Page {{pageNumber}}/{{totalPage}}
                  </button> &nbsp;
                  <button type="button" class="btn btn-primary btn-sm" (click)="setPagePrev(1,$event)" >First</button>
                  &nbsp;
                  <button type="button" class="btn btn-primary btn-sm" (click)="setPagePrev(pageNumber,$event)" >Previous</button>
                  &nbsp;
                  <input type="number" class="form-control-sm" name="size" [(ngModel)]=pageInfo.size  #size="ngModel" style="width:100px">
                  &nbsp;
                  <button type="button" class="btn btn-primary btn-sm" (click)="setPageNext(pageNumber,$event)" >Next</button>
                  &nbsp;
                  <button type="button" class="btn btn-primary btn-sm" (click)="setPageNext(totalPage,$event)">Last</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="noReportCreated">

            <div class="col-md-6 offset-md-3" style="text-align:center;">
              <img src="../../assets/images/not-found.png" />
            </div>
          </div>

        </div>



      </div>
    </div>
  </div>
</div>