<app-menu></app-menu>

<div class="container">

  <div class="row" style="padding:20px">

    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <h5 style="text-align:center"> Schedule Message </h5>
        </div>

        <div class="card-body">
          <form ngForm="schedulesms" (ngSubmit)="saveScheduleMessage()">
            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm ">
                Phone Directory
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <select class="custom-select custom-select-sm" style="height:80px;" multiple data-actions-box="true" name="phoneDirectory" [(ngModel)]="sms.phoneDirectory" #phoneDirectory="ngModel">
                  <option *ngFor="let phoneDirectory of phoneDirctoryList;let i=index;">
                    {{phoneDirectory.mobileNo1}}
                    </option>
                
                </select>

              </div>
            </div>


            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm "> Contact Group
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <select class="custom-select custom-select-sm" style="height:80px;" multiple data-actions-box="true" name="contactGroup" [(ngModel)]="sms.contactGroup" #contactGroup="ngModel">
                  <option *ngFor="let contact of contactGroupList"> {{contact.contactGroupName}} </option>
               </select>

              </div>
            </div>


            <div class="form-group row">
              <label for="example-text-input " class="col-sm-3 col-form-label form-control-sm"> Scheduler Type
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <div class="custom-control custom-radio custom-control-inline col-sm-5" *ngFor="let schedule of scheuleTypeList" >
                  <input type="radio" id="{{schedule.id}}"  [value]="schedule.description" name="scheduleType"  [checked]="idx === 0"  (change)="onSelectionChange(schedule)" class="custom-control-input">
                  <label class="custom-control-label" for="{{schedule.id}}"> {{schedule.lable}}
                  </label>
                </div>

           
              </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm "> Schedule Time
                    <span class="req" style="color: Red">*</span>
                  </label>
                  <div class="custom-control custom-control-inline col-sm-8">
                      <input type="date" class="form-control form-control-sm"  name="scheduleDate"  [(ngModel)]="sms.scheduleDate"  #scheduleDate="ngModel">
                    </div>
            </div>
            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm "> Department
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <select class="custom-select custom-select-sm" style="height:80px;" multiple data-actions-box="true" name="departments" [(ngModel)]="sms.departments" #departments="ngModel"> 
                  <option *ngFor="let department of departmentList" > {{department.departmentName}}</option>
                  </select>

              </div>
            </div>

            <!-- <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm "> Client ID
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-8">
                <select class="custom-select custom-select-sm">
                  <option> Select Group </option>
                  <option>aabcbac </option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                </select>

              </div>
            </div> -->
            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm "> Message Name
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-7">
                <select class="custom-select custom-select-sm" name="messageName" [(ngModel)]="sms.messageName" #messageName="ngModel">
                  <option selected>Choose One...</option>
                  <option *ngFor="let sms of smsList">{{sms.smsName}}</option>
                </select>
              </div>
            </div>


            <div class="form-group row">
              <label for="example-text-input" class="col-sm-3 col-form-label form-control-sm "> Message

                <span class="req" style="color: Red">*</span>
              </label>
              
              <div class="col-sm-8">
                <textarea put class="form-control form-control-sm" name="message" [(ngModel)]="sms.message" #message=""sms.message ></textarea>
                <p class="instruction">*Are Mandatory Fields Only those numbers are scheduled which are saved in Allow Mobile Master Kindly Insert
                  Date (mm/dd/yyyy) in Column 6 and Time (hh:mm:ss) in Column 7. For GSM numbers 1 SMS is counted by 160,
                  while for Reliance numbers 1 SMS is counted by 140 Characters Following special characters are not allowed.
                </p>
              </div>
            </div>







            <div class="row justify-content-center">
              <div style="margin:10px;">
                <button type="submit" class="btn btn-sm btn-success mt-2 mt-sm-0">Add </button>
              </div>
              <div style="margin:10px;">
                <button type="view" class="btn btn-sm btn-secondary mt-2 mt-sm-0"> View </button>
              </div>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>