<app-menu></app-menu>

<div class="container">

  <div class="row" style="padding:20px">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <h5 style="text-align:center"> Schedule Voice </h5>
        </div>

        <div class="card-body">
          <form>
            <div class="form-group row">
              <label for="example-text-input" class="col-sm-2 col-form-label form-control-sm">
                Phone Book
                <span class="req" style="color: Red">*</span>
              </label>
              <div class=" col-sm-8">
                <select class="custom-select custom-select-sm" multiple data-actions-box="true">
                  <option> Select Phone Directory </option>
                  <option>aabcbac </option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                </select>

              </div>
            </div>


            <div class="form-group row">
              <label for="example-text-input" class=" col-sm-2 col-form-label form-control-sm ">Select Group
                <span class="req" style="color: Red">*</span>
              </label>
              <div class=" col-sm-8">
                <select class="custom-select custom-select-sm" multiple data-actions-box="true">
                  <option> Select Group </option>
                  <option>aabcbac </option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                </select>

              </div>
            </div>


            <div class="form-group row">
              <label for="example-text-input " class=" col-sm-2 col-form-label form-control-sm"> Scheduler
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-9">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline4" name="customRadioInline4" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline4">One Time

                  </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline5" name="customRadioInline4" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline5">Daily

                  </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline6" name="customRadioInline4" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline6">Weekly

                  </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline6" name="customRadioInline4" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline6">Montly

                  </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline6" name="customRadioInline4" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline6">Yearly

                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class=" col-sm-2 col-form-label form-control-sm "> Department
                <span class="req" style="color: Red">*</span>
              </label>
              <div class=" col-sm-8">
                <select class="custom-select custom-select-sm" multiple data-actions-box="true">
                  <option> Select Group </option>
                  <option>aabcbac </option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                </select>

              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class=" col-sm-2 col-form-label form-control-sm ">Voice Template
                <span class="req" style="color: Red">*</span>
              </label>
              <div class=" col-sm-8">
                <select class="custom-select custom-select-sm">
                  <option> Select Group </option>
                  <option>aabcbac </option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                </select>

              </div>
            </div>


            <div class="row justify-content-center">
              <div style="margin:10px;">
                <button class="btn btn-sm btn-primary mt-2 mt-sm-0">Add </button>
              </div>
              <div style="margin:10px;">
                <button class="btn btn-sm btn-secondary mt-2 mt-sm-0"> View </button>
              </div>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>