<app-menu>
</app-menu>
<ng-template #deleteModal let-c="close" let-d="dismiss">

  <div class="modal-content" style="background-color: khaki;">
    <form (ngSubmit)="submit" #formControl="ngForm">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <h5 style="color:green; text-align: center"> Are You Sure Want To Delete</h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row justify-content-center">
          <div class="col-sm-12" style="margin-right: 127px;">
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteMessage(scheduledsms)">Yes</button>
            <button type="button" class="btn btn-outline-info btn-sm" (click)="closeModel()">No</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>


<div class="container">

  <!-- <div class="row" style="margin-top:20px;margin-left:2%;">
    <i class="fa fa-plus-square" data-toggle="tooltip" title="Add location" style="color:green;font-size:30px;" (click)="OpenModel(department,updateModal)"></i>
  </div> -->
  <div *ngIf="!loginId.viewinstantMessageReportView" class="row" style="margin: 10%">
    <div class="col-md-8 offset-md-4">
      <h5 style="color:red">Sorry! You Have No Access To See</h5>
      <img src="../../assets/images/NO_ACCESS.jpg" />
    </div>
  </div>
  <div class="row" style="margin:20px" *ngIf="loginId.viewinstantMessageReportView">
    <div class="col-sm-12">
      <div class="card h-100 text-black bg-secondary">
        <!-- <div class="card  border-primaryg-info text-black"> -->
        <div class="card-header">
          <div class="row">
            <div class="col-sm-2   text-left">
              <!-- <i class="fa fa-plus-square" data-toggle="tooltip" title="Add department" style="color:green;font-size:30px;" (click)="OpenModel(department,updateModal)"></i> -->
              <button class="btn-sm" (click)="refeshPage()"><img src="../../assets/images/Button-Refresh-icon.png" style="width:20px;height:20px;" placement="right" ngbTooltip="Refresh"> </button>
            </div>
            <div class="col-sm-8 h5  text-center">
              Scheduled Sms Report
            </div>
            <div class="col-sm-2 text-right">
              <span class="badge badge-pill badge-danger  text-right;">{{totalNumberOfData}} </span>
            </div>
          </div>

        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-sm-12 form-inline" style="margin-bottom:10px;padding:5px;background-color: rgb(190, 229, 235);">
              <div class="col-sm-8 form-inline">
                <label class="col-sm-1 col-sm-form-label form-control-sm "><b>Search:</b></label>
                <input type="text" class="form-control col-sm-3 form-control-sm" name="mobile" [(ngModel)]="filter.mobile" placeholder="mobile">
                &nbsp;
                <label *ngIf="isAdminTrue" for="example-text-input" class="col-sm-2 col-form-label form-control-sm" style="margin-left:5px;">
                  <b> Select User</b>
                   
                 </label>
                 <div *ngIf="isAdminTrue" class="col-sm-3 ">
                     <select class="form-control  form-control-sm" name="loginId" [(ngModel)]="filter.loginId" (change)="changeLoginId()" style=" width: 150px;">
                       <option  value="{{allUser}}">All</option>
                       <option value="{{user.loginId}}" *ngFor="let user of userList">{{user.loginId}}</option>
                       </select>
                  
                 </div>
                <!-- <button class="btn-sm btn-success" (click)="findSchdeule()" >Search</button> -->
              </div>

              <!-- <div class="col-sm-2 form-inline">
                <label for="limit" class="col-sm-6 col-sm-form-label form-control-sm "><b>Limit:</b></label>
                <input type="number" class="form-control col-sm-6 form-control-sm" name="limit" [(ngModel)]="limit" min="5" [attr.max]="[numberOfData]"
                  step="5" placeholder="Limit">
              </div>
              <div class="col-sm-2 form-inline">
                <label for="page" class="col-sm-6 col-sm-form-label form-control-sm "><b>Page:</b></label>
                <input type="number" class="form-control col-sm-6 form-control-sm" name="page" [(ngModel)]="page" min="1" [attr.max]="[numberOfData]"
                  step="1" placeholder="Page">
              </div> -->
            </div>

            <div class="col-sm-12" style="text-align:center;color: red;" *ngIf="deleteField">
              <h5 class="successmsg">Scheduled Sms Deleted successfully!</h5>
            </div>

            <div class="table-responsive">
              <table class="table table-sm">
                <thead>
                  <tr class="table-info">
                    <th class="text-center">S.No.</th>
                    <th class="text-center">Mobile</th>

                    <!-- <th class="text-center">SmsName</th> -->
                    <th class="text-center">Message</th>
                    <th width="140px">ScheduleType</th>
                    <th class="text-center">ScheduleDate</th>
                    <th class="text-center">Send By</th>
                    <th class="text-center" *ngIf="loginId.modifyinstantMessageReportView || loginId.deleteinstantMessageReportView">Action</th>
                  </tr>
                </thead>
                <tbody>

                  <tr class="table-info" *ngFor="let scheduledsms of allscheduleSms |  datafilter:filter | slice:(page-1)*limit:page*limit;let id=index;">
                    <td class="text-center">{{scheduledsms.id}}</td>
                    <td class="text-center">{{scheduledsms.mobile}}</td>
                    <!-- <td class="text-center">{{scheduledsms.smsName}}</td> -->
                    <td class="text-center">{{scheduledsms.smsText}}</td>
                    <td width="140px">{{scheduledsms.scheduleType}}</td>
                    <td width="120px">{{scheduledsms.scheduleDate}}</td>
                    <td width="90px">{{scheduledsms.loginId}}</td>
                    <td width="30px" *ngIf="loginId.deleteinstantMessageReportView">
                      <!-- <i *ngIf="loginId.modifyinstantMessageReportView" class="fa fa-edit" data-toggle="tooltip" title="Edit" style="color:Blue;font-size:20px;"></i>
                      &nbsp;&nbsp; -->
                      <i *ngIf="loginId.deleteinstantMessageReportView" class="fa fa-trash" data-toggle="tooltip" title="Delete" style="color:darkred;font-size:20px;"
                      (click)="open(scheduledsms,deleteModal)"></i>
                      <!-- (click)="deleteMessage(scheduledsms)" -->
                    </td>

                    <!-- <td class="text-center">
                      <i class="fa fa-pencil-square-o" data-toggle="tooltip" title="Update Location" style="color:Blue;font-size:20px;" (click)="OpenModel(department,updateModal)"></i>

                      &nbsp;&nbsp;&nbsp;
                      <i class="fa fa-trash-o" data-toggle="tooltip" title="Delete Location" style="color:red;font-size:20px;" (click)="deleteDepartment(department)"></i>

                  </tr> -->

                </tbody>
              </table>
              <div class="text-center">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary btn-sm">
                    Page {{pageNumber}}/{{totalPage}}
                  </button> &nbsp;
                  <button type="button" class="btn btn-primary btn-sm" (click)="setPagePrev(1,$event)" >First</button>
                  &nbsp;
                  <button type="button" class="btn btn-primary btn-sm" (click)="setPagePrev(pageNumber,$event)" >Previous</button>
                  &nbsp;
                  <input type="number" class="form-control-sm" name="size" [(ngModel)]=pageInfo.size  #size="ngModel" style="width:100px">
                  &nbsp;
                  <button type="button" class="btn btn-primary btn-sm" (click)="setPageNext(pageNumber,$event)" >Next</button>
                  &nbsp;
                  <button type="button" class="btn btn-primary btn-sm" (click)="setPageNext(totalPage,$event)">Last</button>
                </div>
              </div>
  
            </div>


          </div>

          <!-- <div class="row justify-content-center" *ngIf="!nodepartmentCreated">
            <div>
              <button class="btn btn-default btn-sm btn-block">Generate Excel</button>
            </div>
            <div style="margin-left: 10px; ">
              <button class="btn btn-default btn-sm btn-block">Generate PDF</button>
            </div>
          </div> -->

          <div class="row" *ngIf="noscheduledsms">

            <div class="col-md-6 offset-md-3" style="text-align: center;">


              <img src="../../assets/images/not-found.png" />

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>