<app-menu></app-menu>

<div class="container-fluid" style="margin-top:20px;">
  <div class="row">
    <div class="col-sm-6">
      <!-- <div class="card"> -->
      <div class="card h-100 text-black">
        <div class="card-header" style="text-align:center">
          <div class="row">
            <div class="col-sm-10 h5  text-center">
              Add Latest News
            </div>
            <div class="col-sm-2 text-right">
              <!-- <span class="badge badge-pill badge-danger  text-right;"></span> -->
            </div>
          </div>
        </div>
        <div class="card-body">
            <div *ngIf="successField">
                <h5 class="successmsg" style="text-align:center;">
                  News Added Successfully!
                </h5>
              </div>
              <div *ngIf="authenticationError">
                <h5 class="errormsg" style="text-align:center;">Something went wrong. Please try again!</h5>
              </div>
          <div class="row">
            <!-- <form #myForm="ngForm" (ngSubmit)="myForm.form.valid && saveNews()" nonvalidate> -->
            <form #myForm="ngForm" (ngSubmit)="saveNews()" nonvalidate>   
              <div class="form-group row" *ngFor="let ad of admin; let i = index; let first = first; let last = last;">
                <div class="col-sm-10" [ngClass]="{
                  'has-danger': newsName.invalid && (newsName.dirty || newsName.touched),
                  'has-success': newsName.valid && (newsName.dirty || newsName.touched)}">
                  <!-- <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Small"> -->
                  <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Add News Here" name="newsName{{i}}"
                    maxlength="100" #newsName="ngModel" [(ngModel)]="ad.newsTitle" style="width: 258%;" autocomplete="off" required>
                    <!-- <div class="form-control-feedback" *ngIf="newsName.errors && (newsName.dirty || newsName.touched)">
                        <p *ngIf="newsName.errors.required">Name is required.</p>
                      </div> -->
                </div>&nbsp;
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">
                  <i *ngIf="last && i < 5" class="fa fa-plus-circle" aria-hidden="true" data-toggle="tooltip" title="Add" style="color:Blue;font-size:20px;"
                    (click)="addNews()"></i>
                  <i *ngIf="!first" class="fa fa-minus-circle" aria-hidden="true" data-toggle="tooltip" title="Remove" style="color:red;font-size:20px;"
                    (click)="removeNews(i)"></i>
                </label>
              </div>

              <!-- <div class="input-group input-group-sm mb-3" *ngFor="let ad of admin; let i = index; let first = first; let last = last;">
                <input type="text" class="form-control" placeholder="Add News Here" aria-label="Amount (rounded to the nearest dollar)" aria-describedby="basic-addon"
                  name="newsName{{i}}" maxlength="100" #newsName="ngModel" [(ngModel)]="ad.newsTitle" required>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon">
                    <i *ngIf="last && i < 5" class="fa fa-plus-circle" aria-hidden="true" data-toggle="tooltip" title="Add" style="color:Blue;font-size:20px;"
                      (click)="addNews()"></i>
                    <i *ngIf="!first" class="fa fa-minus-circle" aria-hidden="true" data-toggle="tooltip" title="Remove" style="color:red;font-size:20px;"
                      (click)="removeNews()"></i>
                  </span>
                </div>
              </div> -->
              <div class="row justify-content-center">
                <div style="margin:10px;">
                  <button type="submit" class="btn btn-sm btn-success mt-2 mt-sm-0" [disabled]="form.invalid">Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <!-- <div class="card"> -->
      <div class="card h-100 text-black bg-secondary">
        <div class="card-header" style="text-align:center">
          <div class="row">
            <div class="col-sm-10 h5  text-center">
              News List
            </div>
            <div class="col-sm-2 text-right">
              <span class="badge badge-pill badge-danger  text-right;">{{numberOfData}} </span>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div style="text-align:center;" *ngIf="deleteField">
                <h5 class="successmsg">News Deleted successfully!</h5>
              </div>
              <div style="text-align:center;" *ngIf="authenticationError">
                <h5 class="errormsg">Something went wrong. Please try again !</h5>
              </div>
          <div style="overflow-y: auto; overflow-x: hidden;">
            <div class="table-responsive">
              <table class="table table-sm table-bordered table-hover">
                <thead>
                  <tr class="table-info">
                    <th>S.No.</th>
                    <th>News Name</th>
                    <th>Date-Time</th>
                    <th style="text-align: center;">Action</th>
                  </tr>
                </thead>

                <tbody>

                  <tr class="table-info" *ngFor="let news of newsList;let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{news.newsTitle}}</td>
                    <td>{{news.date_time | date:'short'}}</td>


                    <td style="text-align: center;">
                      <i class="fa fa-pencil-square-o" data-toggle="tooltip" title="Edit" style="color:Blue;font-size:20px;" (click)="OpenModel(news,updateModal)"></i>
                      &nbsp;&nbsp;&nbsp;
                      <i class="fa fa-trash-o" data-toggle="tooltip" title="Delete" style="color:red;font-size:20px;" (click)="open(news,deleteModal)"></i>

                    </td>

                  </tr>

                </tbody>
              </table>
            </div>
          </div>

          <div class="row" *ngIf="noNewsCreated">

            <div class="col-md-6 offset-md-3" style="text-align:center;">
                <img src="../../assets/images/not-found.png" />
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -----------------------------------------------------Update News------------------------------------------------ -->

<ng-template #updateModal>
  <div class="modal-content ">
    <div class="modal-header " style="background-color:lightblue;text-align:center">
      <div class="col-sm-10">
        <h6 class="modal-title">Update News </h6>
      </div>
      <div class="col-sm-2">
        <!-- <button type="button" class="btn btn-info btn-sm" (click)="closeModel()">close</button> -->
        <i class="fa fa-remove" (click)="closeModel()" data-toggle="tooltip" title="Close" style="color:firebrick;font-size:20px;"
          aria-hidden="true"></i>
      </div>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submit" #formControl="ngForm">
      <div class="form-group">
        <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="newsId" [(ngModel)]="news.newsId" #newsId="ngModel"
          hidden>
      </div>&nbsp;&nbsp;
      <label class="mr-sm-2 mb-0 col-form-label-sm">News Name
        <span class="req" style="color: Red">*</span>
      </label> &nbsp;&nbsp;
      <div class="form-group" [ngClass]="{ 'has-danger': newsTitle.invalid && (newsTitle.dirty || newsTitle.touched),
                                           'has-success': newsTitle.valid && (newsTitle.dirty || newsTitle.touched)}">
        <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="newsTitle" [(ngModel)]="news.newsTitle"
          maxlength="100" #newsTitle="ngModel" autocomplete="off" required>
          <div class="form-control-feedback" *ngIf="newsTitle.errors && (newsTitle.dirty || newsTitle.touched)">
              <p *ngIf="newsTitle.errors.required">News is Required</p>
            </div>
      </div>
      &nbsp;&nbsp;
      <div class="form-group">
        <button type="button" class="btn btn-info btn-sm" (click)="updateNews()" [disabled]="!formControl.valid">Update</button>
      </div>
      </form>
    </div>
  </div>
</ng-template>


<ng-template #deleteModal let-c="close" let-d="dismiss">

  <div class="modal-content" style="background-color: khaki;">

    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">

          <h5 style="color:green; text-align: center"> Are You Sure Want To Delete</h5>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row justify-content-center">
        <div class="col-sm-12" style="margin-right: 127px;">
          <button type="button" class="btn btn-outline-danger btn-sm" (click)=" deleteNews(news)">Yes</button>
          <button type="button" class="btn btn-outline-info btn-sm" (click)="closeModel()">No</button>
        </div>
      </div>
    </div>

  </div>
</ng-template>