<app-menu></app-menu>
<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>

<div class="container" *ngIf="!USERSREPORT">


  <div *ngIf="!loginId.adduserMasterView && !loginId.viewuserMasterView" class="row" style="margin: 10%">
    <div class="col-md-8 offset-md-4">
      <h5 style="color:red">Sorry! You Have No Access To See</h5>
      <img src="../../assets/images/NO_ACCESS.jpg" />
    </div>
  </div>

  <div class="row" style="padding:20px">
    <div class="col-md-10 offset-md-1">
      <div class="card">
        <div class="card-header" style="text-align:center" *ngIf="loginId.adduserMasterView || loginId.viewuserMasterView">
          <div class="row" *ngIf="!userDetailsShow">
            <div class="col-sm-11 h5">
              User Master
            </div>

            <div *ngIf="!userDetailsShow">
              <div class="col-sm-1">
                <i *ngIf="loginId.viewuserMasterView" class="fa fa-eye" data-toggle="tooltip" title="See All User" style="color:indigo; font-size:20px;"
                  (click)="showUserList()"></i>
                <!-- <button type="view"  class="btn btn-sm btn-primary mt-2 mt-sm-0" (click)="showUserList()"> View </button> -->
              </div>
            </div>
          </div>
          <!--  user details only   -->

          <div class="row" *ngIf="userDetailsShow">
            <div class="col-sm-11 h5">
              User Details
            </div>
            <div class="col-sm-1">
              <button type="view" class="btn btn-sm btn-primary mt-2 mt-sm-0" (click)="hideUserDetails()"> Back </button>
            </div>
          </div>

          <!-- <p class="coll">UserMaster  </p>
          <p>UserMaster  </p> -->

        </div>
        <div class="card-body" *ngIf="loginId.adduserMasterView">

          <div class="container-fluid">
            <!-- <form class="form-inline" #userForm="ngForm" (ngSubmit)="saveUser()"> -->
            <form (ngSubmit)="submit" #formControl="ngForm">
              <div class="row">
                <div class="col-sm-6" style="padding-left:23px;">
                  <div class="form-group row" [ngClass]="{
                  'has-danger': loginId.invalid && (loginId.dirty || loginId.touched),
                  'has-success': loginId.valid && (loginId.dirty  || loginId.touched)}">

                    <label class="col-sm-3 col-sm-form-label form-control-sm">Login Id
                      <span class="req" style="color: Red">*</span>
                    </label>
                    <div class="col-sm-6" *ngIf="!updateON">
                      <input [disabled]="disabled" type="text" ng-disabled=true class="form-control form-control-sm form-control form-control-sm-sm"
                        name="loginId" [(ngModel)]="user.loginId" #loginId="ngModel" placeholder="Enter Login Id" autocomplete="off" required>



                      <!-- <div class="form-control-feedback" *ngIf="loginId.errors && (loginId.dirty || loginId.touched)">
                        <p *ngIf="loginId.errors.required">ID is required.</p>
                      </div> -->
                    </div>
                    <div class="col-sm-6" *ngIf="updateON">
                      <input disabled type="text" class="form-control form-control-sm form-control form-control-sm-sm" value="{{user.loginId}}">
                    </div>
                  </div>

                  <div class="form-group row" [ngClass]="{
                    'has-danger': mobile.invalid && (mobile.dirty || mobile.touched),
                    'has-success': mobile.valid && (mobile.dirty  || mobile.touched)}">

                    <label class="col-sm-3 col-sm-form-label form-control-sm">Mobile No
                      <span class="req" style="color: Red">*</span>

                    </label>
                    <div class="col-sm-6">
                      <input [disabled]="disabled" type="text" class="form-control form-control-sm" name="mobile" [(ngModel)]="user.mobile" #mobile="ngModel"
                        placeholder="Enter mobile no"  (keypress)="restrictNumeric($event)" minlength="10" maxlength="10" autocomplete="off" required>
                       <div class="form-control-feedback" *ngIf="mobile.errors && (mobile.dirty || mobile.touched)">
                       <!-- <p *ngIf="mobile.errors.required">mobile no is required.</p>
                        <p *ngIf="mobile.errors.pattern && !mobile.errors.minlength">Invalid Number.</p>-->
                        <p *ngIf="mobile.errors.minlength">Minimum 10 numbers.</p>
                      </div> 
                     
                    </div>
                  </div>


                  <!--                            location                       -->
                  <div class="form-group row" *ngIf="isSuperAdmin">
                    <label class="col-sm-3 col-sm-form-label form-control-sm">Location
                      <span class="req" style="color: Red">*</span>

                    </label>
                    <div class="col-sm-6">
                      <select [disabled]="disabled" class="custom-select custom-select-sm" name="locationName1" [(ngModel)]="location1.locationName1"
                        #locationName1="ngModel" (change)="checkValidation()">
                        <option [value]="0">Choose One Location</option>
                        <option value="{{location.locationName}}" *ngFor="let location of locationList">{{location.locationName}}</option>


                      </select>
                      <div class="form-control-feedback" *ngIf="locationRequired">
                        <p>{{locationMessage}}</p>
                      </div>
                    </div>
                  </div>


                  <!--                          department                       -->
                  <div class="form-group row" *ngIf="!isSuperAdmin">
                    <label class="col-sm-3 col-sm-form-label form-control-sm"> Department
                      <span class="req" style="color: Red">*</span>

                    </label>
                    <div class="col-sm-6">
                      <select [disabled]="disabled" class="custom-select custom-select-sm" name="departmentName1" [(ngModel)]="department1.departmentName1"
                        #departmentName1="ngModel" (change)="checkValidation()">
                        <option [value]="0">Choose One Department</option>
                        <option value="{{department.departmentName}}" *ngFor="let department of departmentList">{{department.departmentName}}</option>


                      </select>
                      <div class="form-control-feedback" *ngIf="departmentRequired">
                        <p>{{departmentMessage}}</p>
                      </div>
                    </div>
                  </div>



                  <div *ngIf="!updateON">

                    <div class="form-group row" *ngIf="!userDetailsShow">
                      <label class="col-sm-3 col-sm-form-label form-control-sm">Create Password
                        <span class="req" style="color: Red">*</span>

                      </label>
                      <div class="col-sm-6" [ngClass]="{
                        'has-danger': password.invalid && (password.dirty || password.touched),
                        'has-success': password.valid && (password.dirty  || password.touched)}">
                        <input type="password" class="form-control form-control-sm" name="password" [(ngModel)]="user.password" #password="ngModel"
                          placeholder="Enter password" autocomplete="off" required>
                        <!-- <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)"> -->
                          <!-- <p *ngIf="password.errors.required">Create paasword.</p> -->
                          <!-- <p *ngIf="!password.errors.required && password.errors.minlength ">Minimum 5 digits required.</p> -->
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>


                  <!-- <div *ngIf="!userDetailsShow">
                    <div class="form-group row">
                      <label for="last_name" class="col-sm-3 col-sm-form-label form-control-sm">Select All

                      </label>
                      <div class="col-sm-6">
                        <div class="custom-control custom-checkbox">
                          <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="allPrivilegeCheck" name="allPrivilege" (change)="isallPrivilegeChecked();"
                            [(ngModel)]="user.allPrivilegeView" #allPrivilege="ngModel">
                          <label class="custom-control-label" for="allPrivilegeCheck"> </label>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>

                <div class="col-sm-6">
                  <div class="form-group row" [ngClass]="{
                    'has-danger': userName.invalid && (userName.dirty || userName.touched),
                    'has-success': userName.valid && (userName.dirty  || userName.touched)}">
                    <label class="col-sm-3 col-sm-form-label form-control-sm">Name
                      <span class="req" style="color: Red">*</span>

                    </label>
                    <div class="col-sm-6">
                      <input [disabled]="disabled" type="text" class="form-control form-control-sm" name="userName" [(ngModel)]="user.userName"
                        #userName="ngModel" placeholder="Enter Name" autocomplete="off" required>
                      <!-- <div class="form-control-feedback" *ngIf="userName.errors && (userName.dirty || userName.touched)">
                        <p *ngIf="userName.errors.required">Name is required.</p>
                        <p *ngIf="userName.errors.pattern">Invalid Name.</p>

                      </div> -->
                    </div>
                  </div>

                  <div class="form-group row" [ngClass]="{
                    'has-danger': emailId.invalid && (emailId.dirty || emailId.touched),
                    'has-success': emailId.valid && (emailId.dirty  || emailId.touched)}">
                    <label class="col-sm-3 col-sm-form-label form-control-sm">Email Id

                    </label>
                    <div class="col-sm-6">
                      <input [disabled]="disabled" type="text" class="form-control form-control-sm" name="emailId" [(ngModel)]="user.emailId" #emailId="ngModel"
                      autocomplete="off"  placeholder="Enter email" pattern="[a-z0-9!#$%&'*+=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                      <div class="form-control-feedback" *ngIf="emailId.errors && (emailId.dirty || emailId.touched)">
                        <!-- <p *ngIf="emailId.errors.required">Email is required.</p> -->
                        <p *ngIf="emailId.errors.pattern && !emailId.errors.maxlength"> Invalid Email.</p>
                      </div>
                    </div>
                  </div>


                  <div class="form-group row">

                    <label class="col-sm-3 col-sm-form-label form-control-sm">User Type
                      <span class="req" style="color: Red">*</span>
                    </label>
                    <div class="col-sm-6">
                      <select [disabled]="disabled" class="custom-select custom-select-sm" name="userType" [(ngModel)]="user.userType" #userType="ngModel"
                        (change)="checkValidation()">
                        <option [value]="0">Select</option>
                        <option *ngIf="isSuperAdmin" value="superadmin">SuperAdmin</option>
                        <option *ngIf="isAdmin" value="admin">Admin</option>
                        <option *ngIf="isUser" value="user">User</option>

                      </select>
                      <div class="form-control-feedback" *ngIf="userRequired">
                        <p>{{userMessage}}</p>
                      </div>
                    </div>
                  </div>





                  <div *ngIf="!updateON">
                    <div *ngIf="!userDetailsShow" class="form-group row" [ngClass]="{
                      'has-danger': confPassword.invalid && (confPassword.dirty || confPassword.touched),
                      'has-success': confPassword.valid && (confPassword.dirty  || confPassword.touched)}">
                      <label class="col-sm-3 col-sm-form-label form-control-sm">Confirm Password
                        <span class="req" style="color: Red">*</span>

                      </label>
                      <div class="col-sm-6">
                        <input type="password" class="form-control form-control-sm" name="confPassword" [(ngModel)]="user.confPassword" #confPassword="ngModel"
                          placeholder="Confirm password" required>
                        <!-- <div class="form-control-feedback" *ngIf="confPassword.errors && (confPassword.dirty || confPassword.touched)"> -->
                          <!-- <p *ngIf="confPassword.errors.required">Please Confirm.</p> -->
                          <!-- <div *ngIf="!confPassword.errors.required && confPassword.errors.minlength "> 
                                  Minimum 5 digits required.
                              </div> -->
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>

                </div>

                <!-- <div class="col-sm-6"> 
                <div class="form-group row">

                  <label class="col-sm-3 col-sm-form-label form-control-sm">Mobile No
                   
                  </label>
                  <div class="col-sm-6">
                    <input [disabled]="disabled" type="text" class="form-control form-control-sm" name="mobile" [(ngModel)]="user.mobile" #mobile="ngModel" placeholder="Enter mobile no">
                  </div>
                </div>
              </div> -->
                <!-- <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-sm-form-label form-control-sm">Email Id
                    
                  </label>
                  <div class="col-sm-6">
                    <input [disabled]="disabled" type="text" class="form-control form-control-sm" name="emailId" [(ngModel)]="user.emailId" #emailId="ngModel" placeholder="Enter email">
                  </div>
                </div>
              </div> -->

                <!-- <div class="col-sm-6">
                <div class="form-group row">

                  <label class="col-sm-3 col-sm-form-label form-control-sm">Location
                   
                  </label>
                  <div class="col-sm-6" *ngIf="!userDetailsShow">
                    <select class="custom-select custom-select-sm col-sm-7" name="location" [(ngModel)]="user.location" #location="ngModel">
                      <option selected>Choose One Location</option>
                      <option value="{{location.locationId}}" *ngFor="let location of locationList">{{location.locationName}}</option>

                    </select>

                  </div>
                  <div class="col-sm-6" *ngIf="userDetailsShow">
                    <input type="text" disabled class="form-control form-control-sm" name="locationName" [(ngModel)]="user.location.locationName"
                      #locationName="ngModel">
                  </div>

                </div>
              </div> -->
                <!-- <div class="col-sm-6" *ngIf="!userDetailsShow">
                <div class="form-group row">
                  <label for="last_name" class="col-sm-3 col-sm-form-label form-control-sm">All
                   
                  </label>
                  <div class="col-sm-6">
                      <div class="custom-control custom-checkbox">
                      <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="allPrivilegeCheck" name="allPrivilege" (change)="isallPrivilegeChecked();"
                        [(ngModel)]="user.allPrivilegeView" #allPrivilege="ngModel">
                      <label class="custom-control-label" for="allPrivilegeCheck"> </label>
                    </div>
                  </div>
                </div>
              </div> -->

                <!--  password  section   -->
                <!-- <div class="col-sm-6" *ngIf="!userDetailsShow">
                <div class="form-group row">
                  <label class="col-sm-3 col-sm-form-label form-control-sm">Create
                   
                  </label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-sm" name="password" [(ngModel)]="user.password" #password="ngModel" placeholder="Create password">
                  </div>
                </div>
              </div> -->
                <!-- <div class="col-sm-6" *ngIf="!userDetailsShow">
                <div class="form-group row">
                  <label class="col-sm-3 col-sm-form-label form-control-sm">Confirm
                   
                  </label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-sm" name="confPassword" [(ngModel)]="user.confPassword" #confPassword="ngModel" placeholder="Confirm password">
                  </div>
                </div>
              </div> -->

              </div>

              <div class="col-sm-12">
                <div class="form-group row">
                  <div class="table-responsive">
                    <table class="table table-sm">
                      <thead>
                        <tr class="table-info">
                          <th>Select All

                          </th>
                          <th>Select</th>
                          <th>Add</th>
                          <th>View</th>
                          <th>Modify</th>
                          <th>Delete</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-info" *ngIf="accessUser">
                          <td>Admin Service</td>
                          <!-- <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="addadminServiceCheck" name="addadminService" [(ngModel)]="user.addadminSevice">
                              <label class="custom-control-label" for="adminServiceCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="viewadminServiceCheck" name="viewadminService" [(ngModel)]="user.viewadminService">
                              <label class="custom-control-label" for="viewadminServiceCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="modifyadminServiceCheck" name="modifyadminService" [(ngModel)]="user.modifyadminService">
                              <label class="custom-control-label" for="modifyadminServiceCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="deleteadminServiceCheck" name="deleteadminService" [(ngModel)]="user.deleteadminService">
                              <label class="custom-control-label" for="deleteadminServiceCheck"></label>
                            </div>
                          </td> -->
                        </tr>
                        <tr *ngIf="accessUser">
                          <td>User Master

                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="userMasterCheck" name="userMaster" (change)="isuserMasterChecked();"
                                [(ngModel)]="user.userMasterAllView" #userMaster="ngModel">
                              <label class="custom-control-label" for="userMasterCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="adduserMasterCheck" name="adduserMaster" [(ngModel)]="user.adduserMasterView"
                                #adduserMaster="ngModel">
                              <label class="custom-control-label" for="adduserMasterCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="viewuserMasterCheck" name="viewuserMaster"
                                [(ngModel)]="user.viewuserMasterView" #viewuserMaster="ngModel">
                              <label class="custom-control-label" for="viewuserMasterCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="modifyuserMasterCheck" name="modifyuserMaster"
                                [(ngModel)]="user.modifyuserMasterView" #modifyuserMaster="ngModel">
                              <label class="custom-control-label" for="modifyuserMasterCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="deleteuserMasterCheck" name="deleteuserMaster"
                                [(ngModel)]="user.deleteuserMasterView" #deleteuserMaster="ngModel">
                              <label class="custom-control-label" for="deleteuserMasterCheck"></label>
                            </div>
                          </td>
                        </tr>
                          <!-- <tr>
                          <td>Allow Mobile Master</td> -->
                          <!-- <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="allowMobileMasterCheck" name="allowMobileMaster"
                                (change)="isallowMobileMasterChecked();" [(ngModel)]="user.allowMobileMasterAllView" #allowMobileMaster="ngModel">
                              <label class="custom-control-label" for="allowMobileMasterCheck"></label>
                            </div>
                          </td> -->

                          <!-- <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="addmobileMasterCheck" name="addmobileMaster"
                                [(ngModel)]="user.addmobileMasterView" #addmobileMaster="ngModel">
                              <label class="custom-control-label" for="addmobileMasterCheck"></label>
                            </div>
                          </td> -->
                          <!-- <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="viewmobileMasterCheck" name="viewmobileMaster"
                                [(ngModel)]="user.viewmobileMasterView" #viewmobileMaster="ngModel">
                              <label class="custom-control-label" for="viewmobileMasterCheck"></label>
                            </div>
                          </td> -->
                          <!-- <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="modifymobileMasterCheck" name="modifymobileMaster"
                                [(ngModel)]="user.modifymobileMasterView" #modifymobileMaster="ngModel">
                              <label class="custom-control-label" for="modifymobileMasterCheck"></label>
                            </div>
                          </td> -->
                          <!-- <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="deletemobileMasterCheck" name="deletemobileMaster"
                                [(ngModel)]="user.deletemobileMasterView" #deletemobileMaster="ngModel">
                              <label class="custom-control-label" for="deletemobileMasterCheck"></label>
                            </div>
                          </td>  -->
                        <!-- </tr> -->
                        <tr *ngIf="accessLocation">
                          <td>Location Master</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="locationCheck" name="locationMaster" (change)="islocationChecked();"
                                [(ngModel)]="user.locationAllView" #locationMaster="ngModel">
                              <label class="custom-control-label" for="locationCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="addlocationCheck" name="addlocationMaster"
                                [(ngModel)]="user.addlocationView" #addlocationMaster="ngModel">
                              <label class="custom-control-label" for="addlocationCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="viewlocationCheck" name="viewlocationMaster"
                                [(ngModel)]="user.viewlocationView" #viewlocationMaster="ngModel">
                              <label class="custom-control-label" for="viewlocationCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="modifylocationCheck" name="modifylocationMaster"
                                [(ngModel)]="user.modifylocationView" #modifylocationMaster="ngModel">
                              <label class="custom-control-label" for="modifylocationCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="deletelocationCheck" name="deletelocationMaster"
                                [(ngModel)]="user.deletelocationView" #deletelocationMaster="ngModel">
                              <label class="custom-control-label" for="deletelocationCheck"></label>
                            </div>
                          </td>
                        </tr>
                        <tr *ngIf="accessDeparment">
                          <td>Department Master</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="departmentCheck" name="departmentMaster" (change)="isdepartmentChecked();"
                                [(ngModel)]="user.departmentAllView" #departmentMaster="ngModel">
                              <label class="custom-control-label" for="departmentCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="adddepartmentCheck" name="adddepartmentMaster"
                                [(ngModel)]="user.adddepartmentView" #adddepartmentMaster="ngModel">
                              <label class="custom-control-label" for="adddepartmentCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="viewdepartmentCheck" name="viewdepartmentMaster"
                                [(ngModel)]="user.viewdepartmentView" #viewdepartmentMaster="ngModel">
                              <label class="custom-control-label" for="viewdepartmentCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="modifydepartmentCheck" name="modifydepartmentMaster"
                                [(ngModel)]="user.modifydepartmentView" #modifydepartmentMaster="ngModel">
                              <label class="custom-control-label" for="modifydepartmentCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="deletedepartmentCheck" name="deletedepartmentMaster"
                                [(ngModel)]="user.deletedepartmentView" #deletedepartmentMaster="ngModel">
                              <label class="custom-control-label" for="deletedepartmentCheck"></label>
                            </div>
                          </td>
                        </tr>


                        <tr class="table-info">
                          <td>Utility Manager</td>
                          <!-- <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td> -->

                        </tr>
                        <tr>
                          <td>Phone Directory</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="phoneDirectoryCheck" name="phoneDirectory"
                                (change)="isphoneDirectoryChecked();" [(ngModel)]="user.phoneDirectoryAllView" #phoneDirectory="ngModel">
                              <label class="custom-control-label" for="phoneDirectoryCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="addphoneDirectoryCheck" name="addphoneDirectory"
                                [(ngModel)]="user.addphoneDirectoryView" #addphoneDirectory="ngModel">
                              <label class="custom-control-label" for="addphoneDirectoryCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="viewphoneDirectoryCheck" name="viewphoneDirectory"
                                [(ngModel)]="user.viewphoneDirectoryView" #viewphoneDirectory="ngModel">
                              <label class="custom-control-label" for="viewphoneDirectoryCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="modifyphoneDirectoryCheck" name="modifyphoneDirectory"
                                [(ngModel)]="user.modifyphoneDirectoryView" #modifyphoneDirectory="ngModel">
                              <label class="custom-control-label" for="modifyphoneDirectoryCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="deletephoneDirectoryCheck" name="deletephoneDirectory"
                                [(ngModel)]="user.deletephoneDirectoryView" #deletephoneDirectory="ngModel">
                              <label class="custom-control-label" for="deletephoneDirectoryCheck"></label>
                            </div>
                          </td>

                        </tr>
                        <tr>
                          <td>Contact Group</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="contactGroupCheck" name="contactGroup" (change)="iscontactGroupChecked();"
                                [(ngModel)]="user.contactGroupAllView" #contactGroup="ngModel">
                              <label class="custom-control-label" for="contactGroupCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="addcontactGroupCheck" name="addcontactGroup"
                                [(ngModel)]="user.addcontactGroupView" #addcontactGroup="ngModel">
                              <label class="custom-control-label" for="addcontactGroupCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="viewcontactGroupCheck" name="viewcontactGroup"
                                [(ngModel)]="user.viewcontactGroupView" #viewcontactGroup="ngModel">
                              <label class="custom-control-label" for="viewcontactGroupCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="modifycontactGroupCheck" name="modifycontactGroup"
                                [(ngModel)]="user.modifycontactGroupView" #modifycontactGroup="ngModel">
                              <label class="custom-control-label" for="modifycontactGroupCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="deletecontactGroupCheck" name="deletecontactGroup"
                                [(ngModel)]="user.deletecontactGroupView" #deletecontactGroup="ngModel">
                              <label class="custom-control-label" for="deletecontactGroupCheck"></label>
                            </div>
                          </td>
                        </tr>
                        <!-- <tr>
                          <td>DND List</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                        </tr> -->

                        <tr class="table-info">
                          <td>Push Service</td>
                          <!-- <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td> -->
                        </tr>
                        <tr>
                          <td>SMS Draft</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="smsDraftCheck" name="smsDraft" (change)="issmsDraftChecked();"
                                [(ngModel)]="user.smsDraftAllView" #smsDraft="ngModel">
                              <label class="custom-control-label" for="smsDraftCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="addsmsDraftCheck" name="addsmsDraft" [(ngModel)]="user.addsmsDraftView"
                                #addsmsDraft="ngModel">
                              <label class="custom-control-label" for="addsmsDraftCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="viewsmsDraftCheck" name="viewsmsDraft" [(ngModel)]="user.viewsmsDraftView"
                                #viewsmsDraft="ngModel">
                              <label class="custom-control-label" for="viewsmsDraftCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="modifysmsDraftCheck" name="modifysmsDraft"
                                [(ngModel)]="user.modifysmsDraftView" #modifysmsDraft="ngModel">
                              <label class="custom-control-label" for="modifysmsDraftCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="deletesmsDraftCheck" name="deletesmsDraft"
                                [(ngModel)]="user.deletesmsDraftView" #deletesmsDraft="ngModel">
                              <label class="custom-control-label" for="deletesmsDraftCheck"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Message</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="instantMessageCheck" name="instantMessage"
                                (change)="isinstantMessageChecked();" [(ngModel)]="user.instantMessageAllView" #instantMessage="ngModel">
                              <label class="custom-control-label" for="instantMessageCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="addinstantMessageCheck" name="addinstantMessage"
                                [(ngModel)]="user.addinstantMessageView" #addinstantMessage="ngModel">
                              <label class="custom-control-label" for="addinstantMessageCheck"></label>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <!-- <tr>
                          <td>Instant Voice</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="instantVoiceCheck" name="instantVoice" (change)="isinstantVoiceChecked();"
                                [(ngModel)]="user.instantVoiceAllView" #instantVoice="ngModel">
                              <label class="custom-control-label" for="instantVoiceCheck"></label>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr> -->
                        <!-- <tr>
                          <td>Schedule Message</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="scheduleMessageCheck" name="scheduleMessage"
                                (change)="isscheduleMessageChecked();" [(ngModel)]="user.scheduleMessageAllView" #scheduleMessage="ngModel">
                              <label class="custom-control-label" for="scheduleMessageCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="addscheduleMessageCheck" name="addscheduleMessage"
                                [(ngModel)]="user.addscheduleMessageView" #addscheduleMessage="ngModel">
                              <label class="custom-control-label" for="addscheduleMessageCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="viewscheduleMessageCheck" name="viewscheduleMessage"
                                [(ngModel)]="user.viewscheduleMessageView" #viewscheduleMessage="ngModel">
                              <label class="custom-control-label" for="viewscheduleMessageCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="modifyscheduleMessageCheck" name="modifyscheduleMessage"
                                [(ngModel)]="user.modifyscheduleMessageView" #modifyscheduleMessage="ngModel">
                              <label class="custom-control-label" for="modifyscheduleMessageCheck"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="deletescheduleMessageCheck" name="deletescheduleMessage"
                                [(ngModel)]="user.deletescheduleMessageView" #deletescheduleMessage="ngModel">
                              <label class="custom-control-label" for="deletescheduleMessageCheck"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Schedule Voice</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="scheduleVoiceCheck" name="scheduleVoice" (change)="isscheduleVoiceChecked();"
                                [(ngModel)]="user.scheduleVoiceAllView" #scheduleVoice="ngModel">
                              <label class="custom-control-label" for="scheduleVoiceCheck"></label>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr> -->
                        <tr>
                          <td>Messsage Report</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="instantMessageReportCheck" name="instantMessageReport"
                                (change)="isinstantMessageReportChecked();" [(ngModel)]="user.instantMessageReportAllView"
                                #instantMessageReport="ngModel">
                              <label class="custom-control-label" for="instantMessageReportCheck"></label>
                            </div>
                          </td>
                          <td></td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="viewinstantMessageReportCheck" name="viewinstantMessageReport"
                                [(ngModel)]="user.viewinstantMessageReportView" #viewinstantMessageReport="ngModel">
                              <label class="custom-control-label" for="viewinstantMessageReportCheck"></label>
                            </div>
                          </td>
                          <td>
                            <!-- <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="modifyinstantMessageReportCheck" name="modifyinstantMessageReport"
                                [(ngModel)]="user.modifyinstantMessageReportView" #modifyinstantMessageReport="ngModel">
                              <label class="custom-control-label" for="modifyinstantMessageReportCheck"></label>
                            </div> -->
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="deleteinstantMessageReportCheck" name="deleteinstantMessageReport"
                                [(ngModel)]="user.deleteinstantMessageReportView" #deleteinstantMessageReport="ngModel">
                              <label class="custom-control-label" for="deleteinstantMessageReportCheck"></label>
                            </div>
                          </td>
                        </tr>
                        <!-- <tr>
                          <td>Instant Voice Report</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="instantvoiceReportCheck" name="instantvoiceReport"
                                (change)="isinstantvoiceReportChecked();" [(ngModel)]="user.instantvoiceReportAllView" #instantvoiceReport="ngModel">
                              <label class="custom-control-label" for="instantvoiceReportCheck"></label>
                            </div>
                          </td>
                          <td></td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="viewinstantvoiceReportCheck" name="viewinstantvoiceReport"
                                [(ngModel)]="user.viewinstantvoiceReportView" #viewinstantvoiceReport="ngModel">
                              <label class="custom-control-label" for="viewinstantvoiceReportCheck"></label>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                        </tr> -->
                        <!-- <tr>
                          <td>Schedule Msg Report</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="scheduleMessageReportCheck" name="scheduleMessageReport"
                                (change)="isscheduleMessageReportChecked();" [(ngModel)]="user.scheduleMessageReportAllView"
                                #scheduleMessageReport="ngModel">
                              <label class="custom-control-label" for="scheduleMessageReportCheck"></label>
                            </div>
                          </td>
                          <td></td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="viewscheduleMessageReportCheck" name="viewscheduleMessageReport"
                                [(ngModel)]="user.viewscheduleMessageReportView" #viewscheduleMessageReport="ngModel">
                              <label class="custom-control-label" for="viewscheduleMessageReportCheck"></label>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Schedule Voice Report</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="scheduleVoiceReportCheck" name="scheduleVoiceReport"
                                (change)="isscheduleVoiceReportChecked();" [(ngModel)]="user.scheduleVoiceReportAllView" #scheduleVoiceReport="ngModel">
                              <label class="custom-control-label" for="scheduleVoiceReportCheck"></label>
                            </div>
                          </td>
                          <td></td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="viewscheduleVoiceReportCheck" name="viewscheduleVoiceReport"
                                [(ngModel)]="user.viewscheduleVoiceReportView" #viewscheduleVoiceReport="ngModel">
                              <label class="custom-control-label" for="viewscheduleVoiceReportCheck"></label>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                        </tr> -->

                        <!-- <tr class="table-info">
                          <td>Pull Services</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>Configure Keyword</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>Pull Report</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td></td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr class="table-info">
                          <td>Auto Pull Services</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Define Query</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Define Keyword</td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input [disabled]="disabled" type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                          </td>
                        </tr> 
 -->
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div *ngIf="successmsg">
                    <h5 class="successmsg">user successfully created</h5>
                  </div>
                  <div *ngIf="errormsg">
                    <h5 class="errormsg">User Already Exist.....</h5>
                  </div>
                  <div *ngIf="updatesuccessmsg">
                    <h5 class="successmsg"> user successfully updated</h5>
                  </div>


                  <div *ngIf="errorpassword">
                    <h5 class="errormsg">create password & confirm password not matched </h5>
                  </div>
                </div>

                <div *ngIf="!userDetailsShow" class="row justify-content-center">
                  <div style="margin:10px;" *ngIf="!userDetailsShow">
                    <button *ngIf="!updateON" type="submit" class="btn btn-sm btn-success mt-2 mt-sm-0" [disabled]="!formControl.valid" (click)="saveUser()">
                      Add </button>

                  </div>

                  <div style="margin:10px;">
                    <button *ngIf="!updateON" type="reset" class="btn btn-sm btn-danger mt-2 mt-sm-0"> Reset </button>
                  </div>
                </div>
                <div *ngIf="updateON" class="row justify-content-center">
                  <button type="submit" class="btn btn-sm btn-success mt-2 mt-sm-0" [disabled]="!formControl.valid" (click)="saveUpdateUser()">
                    update </button>
                </div>

              </div>

            </form>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>

<!-- -------------------------------------------------------------------User Report------------------------------------------------------------- -->
<div class="container-fluid">
<div class="row" *ngIf="USERSREPORT" style="margin:20px">
  <div class="col-sm-12">
    <div class="card h-100 text-black bg-secondary">
      <div class="card-header" style="text-align:center">
        <div class="row">
            <div class="col-sm-1 text-right">
                <span class="badge badge-pill badge-danger  text-right;">{{numberOfData}} </span>
              </div>

          <div class="col-sm-10 h5">
            User Report
          </div>
          <div class="col-sm-1">
            <button type="view" *ngIf="USERSREPORT" class="btn btn-sm btn-primary mt-2 mt-sm-0" (click)="hideUserList()"> Hide </button>
          </div>

        </div>
      </div>

      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-12 form-inline" style="margin-bottom:10px;padding:5px;background-color: rgb(190, 229, 235);">
            <div class="col-sm-8 form-inline">
              <div class="col-sm-3">
                <input type="text" class="form-control form-control-sm" name="loginId" [(ngModel)]="filter.loginId" placeholder="Login ID">
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control form-control-sm" name="userName" [(ngModel)]="filter.userName" placeholder="Name">
              </div>

              <div class="col-sm-3">
                <input type="text" class="form-control form-control-sm" name="mobile" [(ngModel)]="filter.mobile" placeholder="Mobile No">
              </div>

            </div>

            <div class="col-sm-2 form-inline">
              <label for="limit" class="col-sm-6 col-sm-form-label form-control-sm "><b>Limit:</b></label>
              <input type="number" class="form-control col-sm-6 form-control-sm" name="limit" [(ngModel)]="limit" min="1" [attr.max]="[numberOfData]"
                step="1" placeholder="Limit">
            </div>
            <div class="col-sm-2 form-inline">
              <label for="page" class="col-sm-6 col-sm-form-label form-control-sm "><b>Page:</b></label>
              <input type="number" class="form-control col-sm-6 form-control-sm" name="page" [(ngModel)]="page" min="1" [attr.max]="[numberOfData]"
                step="1" placeholder="Page">
            </div>

          </div>

          <div  class="col-sm-12" *ngIf="deletesuccessmsg" style="text-align:center;" >
              <h5 class="successmsg"> user successfully deleted </h5>
            </div>
    
            <div class="col-sm-12" *ngIf="authenticationError" style="text-align:center;" >
              <h6 class="errormsg">Something went wrong. Please try again!</h6>
            </div>

          <div class="table-responsive">
            <table class="table table-sm table-bordered table-hover">
              <thead>
                <tr class="table-info">
                  <th>Sr.No.</th>
                  <th>Login ID</th>
                  <th>Name</th>
                  <th>Mobile</th>
                  <th>Email</th>
                  <th>Location</th>
                  <th>UserType</th>
                  <th>CreateDate</th>
                  <th style="text-align:center;width: 100px;" >Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-info" *ngFor="let user of userList| datafilter:filter | slice:(page-1)*limit:page*limit;let ind=index;">
                  <td>{{ind+1}}</td>
                  <td>{{user.loginId}}</td>
                  <td>{{user.userName}}</td>
                  <td>{{user.mobile}}</td>
                  <td>{{user.emailId}}</td>
                  <td>{{user.locationName}}</td>
                  <td>{{user.userType}}</td>
                  <td> {{user.createDate | date:'medium' }}</td>
                  <td style="text-align: center;width: 100px;" *ngIf="this.myLoginId!=user.loginId;">
                    <i *ngIf="loginId.viewuserMasterView" class="fa fa-eye" data-toggle="tooltip" title="User Details" style="color:indigo; font-size:20px;;"
                      (click)="showUserDetails(user)">
                      &nbsp;</i>
                    <i *ngIf="loginId.modifyuserMasterView" class="fa fa-pencil-square-o" data-toggle="tooltip" title="Edit User" style="color:green;font-size:20px;"
                      (click)="OpenModel(user,updateModal)"> &nbsp;</i>
                    <!-- <i *ngIf="loginId.deleteuserMasterView" class="fa fa-trash-o" data-toggle="tooltip" title="Delete User" style="color:red; font-size:20px;"
                      (click)="deleteUser(user)"></i> -->
                      <i *ngIf="loginId.deleteuserMasterView" class="fa fa-trash-o" data-toggle="tooltip" title="Delete User" style="color:red;font-size:20px;"
                      (click)="open(user,deleteModal)"></i>
                  
                  </td>
</tr>
                

              </tbody>
            </table>
          </div>

        </div>
       

        <!-- <div class="row justify-content-center">
          <div>
            <button class="btn btn-default btn-sm btn-block">Generate Excel</button>
          </div>
          <div style="margin-left: 10px; ">
            <button class="btn btn-default btn-sm btn-block">Generate PDF</button>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</div>
</div>

<!-- -----------------------------------------Delete User----------------------------------------- -->

<ng-template #deleteModal let-c="close" let-d="dismiss">

    <div class="modal-content" style="background-color: khaki;">
      <form (ngSubmit)="submit" #formControl="ngForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
           
              <h5 style="color:green; text-align: center"> Are You Sure Want To Delete:{{user.userName}}</h5>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row justify-content-center">
            <div class="col-sm-12" style="margin-right: 127px;">
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteUser(user)">Yes</button>
              <button type="button" class="btn btn-outline-info btn-sm" (click)="closeModel()">No</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>