<app-menu></app-menu>

<ng-template #deleteModal let-c="close" let-d="dismiss">

  <div class="modal-content" style="background-color: khaki;">
    <form (ngSubmit)="submit" #formControl="ngForm">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <h5 style="color:green; text-align: center"> Are You Sure Want To Delete {{contact.empId}}</h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row justify-content-center">
          <div class="col-sm-12" style="margin-right: 127px;">
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeContact(contact)">Yes</button>
            <button type="button" class="btn btn-outline-info btn-sm" (click)="closeModel()">No</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>
<!-- -------------------------------------------------------------Contact List---------------------------------------------------------------------- -->
<div class="container-fluid">
  <div *ngIf="!loginId.viewphoneDirectoryView && !loginId.addphoneDirectoryView" class="row">
    <div class="col-md-8 offset-md-4" style="margin-top: 10%">
      <h5 style="color:red">Sorry! You Have No Access To See</h5>
      <img src="../../assets/images/NO_ACCESS.jpg" />
    </div>
  </div>


  <div class="row" *ngIf="!AllContact" style="margin-top:20px;">


    <div class="col-sm-12">
      <div class="card h-100 text-black bg-secondary">
        <div class="card-header" style="text-align:center" *ngIf="loginId.addphoneDirectoryView || loginId.viewphoneDirectoryView">
          <div class="row">
            <div class="col-sm-2 text-left">
              <i *ngIf="loginId.addphoneDirectoryView" class="fa fa-plus-square" data-toggle="tooltip" title="Add Phone Directory" style="color:green;font-size:30px;"
                (click)="showAddContact()"></i>
            </div>
            <div class="col-sm-8 h5  text-center">
              Contact List
            </div>
            <div class="col-sm-2 text-right">
              <span class="badge badge-pill badge-danger  text-right;">{{totalNumberOfData}} </span>
            </div>
          </div>
        </div>

        <div class="card-body" *ngIf="loginId.viewphoneDirectoryView">
        
          <div class="form-group row">
            <div class="col-sm-12 form-inline" style="margin-bottom:10px;padding:5px;background-color: rgb(190, 229, 235);">
              <div class="col-sm-11 form-inline">
                <label class="col-sm-1 col-sm-form-label form-control-sm "><b>Search:</b></label>
                <select   class="form-control col-sm-2 form-control-sm" [(ngModel)]="filter.field" name="field" #field="ngModel" (change)="filterForeCasts($event,filter)">
                 <option [value]="0">Select One</option>
                  <option  *ngFor="let list of searchList" value="{{list.id}}"> {{list.label}} </option>
                  
              </select>
                    <input type="text" class="form-control col-sm-3 form-control-sm" name="fieldValue" [(ngModel)]="filter.fieldValue" placeholder="Enter value here">
 
                <button class="btn-success btn-sm" style="margin-left: 10px;" (click)=" getContactList()"> Search</button>
              </div>
              <div class="col-sm-1">
                  <button class="btn-sm" (click)="refeshPage()"><img src="../../assets/images/Button-Refresh-icon.png" style="width:20px;height:20px;" placement="left" ngbTooltip="Refresh"> </button>
             </div>
              <!-- <div class="col-sm-2 form-inline">
             <input type="text" class="form-control col-sm-3 form-control-sm" name="name" [(ngModel)]="filter.name" placeholder="Contact name">&nbsp;&nbsp;&nbsp;
               <label for="limit" class="col-sm-6 col-sm-form-label form-control-sm "><b>Limit:</b></label>
                <input type="number" class="form-control col-sm-6 form-control-sm" name="limit" [(ngModel)]="limit" min="1" [attr.max]="[numberOfData]"
                  step="1" placeholder="Limit">
              </div>
              <div class="col-sm-2 form-inline">
                <label for="page" class="col-sm-6 col-sm-form-label form-control-sm "><b>Page:</b></label>
                <input type="number" class="form-control col-sm-6 form-control-sm" name="page" [(ngModel)]="page" min="1" [attr.max]="[numberOfData]"
                  step="1" placeholder="Page">
              </div> -->



            </div>
            <div class="col-md-6 offset-md-3" style="text-align:center;" *ngIf="deleteField">
              <h5 class="successmsg">Contact Deleted successfully!</h5>
            </div>
            <div class="col-md-6 offset-md-3" style="text-align:center;" *ngIf="authenticationError">
              <h5 class="errormsg">Something went wrong. Please try again !</h5>
            </div>

            <div class="table-responsive">
              <table class="table table-sm table-bordered table-hover" *ngIf="!noContactCreated">
                <thead>
                  <tr class="table-info">
                    <th>Emp_Id</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <!-- <th>Email</th> -->
                    <th>Department</th>
                    <th>Location</th>
                    <th>PROJECT</th>
                    <th>GRADE</th>
                    <th>SUBSTGRADE</th>
                    <th>Created By</th>
                    <th *ngIf="loginId.modifyphoneDirectoryView || loginId.deletephoneDirectoryView">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-info" *ngFor="let contact of contactList;let i=index;">
                    <td>{{contact.contactId}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.mobileNo1}}</td>
                    <!-- <td>{{contact.emailId}}</td> -->
                    <td>{{contact.departmentName}}</td>
                    <td>{{contact.locationName}}</td>
                    <td>{{contact.project}}</td>
                    <td>{{contact.grade}}</td>
                    <td>{{contact.substgrade}}</td>
                    <td>{{contact.loginId.loginId}}</td>
                    <td *ngIf="loginId.modifyphoneDirectoryView || loginId.deletephoneDirectoryView">

                      <i *ngIf="loginId.modifyphoneDirectoryView" class="fa fa-pencil-square-o" data-toggle="tooltip" title="Update Contact" style="color:green;font-size:20px;"
                        (click)="OpenModel(contact,updateModal)"></i>
                      &nbsp;
                      <i *ngIf="loginId.deletephoneDirectoryView" class="fa fa-trash-o" data-toggle="tooltip" title="Delete Contact" style="color:red;font-size:20px;"
                        (click)="open(contact,deleteModal)"></i>
                      <!-- (click)="removeContact(contact)" -->
                    </td>

                  </tr>

                </tbody>

              </table>

              <div class="text-center">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-sm">
                  Page {{pageNumber}}/{{totalPage}}
                </button> &nbsp;
                <button type="button" class="btn btn-primary btn-sm" (click)="setPagePrev(1,$event)" >First</button>
                &nbsp;
                <button type="button" class="btn btn-primary btn-sm" (click)="setPagePrev(pageNumber,$event)" >Previous</button>
                &nbsp;
                <input type="number" class="form-control-sm" name="size" [(ngModel)]=pageInfo.size  #size="ngModel" style="width:100px">
                &nbsp;
                <button type="button" class="btn btn-primary btn-sm" (click)="setPageNext(pageNumber,$event)" >Next</button>
                &nbsp;
                <button type="button" class="btn btn-primary btn-sm" (click)="setPageNext(totalPage,$event)">Last</button>
              </div>
            </div>


            </div>


          </div>


          <div class="row" *ngIf="noContactCreated">

            <div class="col-md-6 offset-md-3" style="text-align:center;">

              <img src="../../assets/images/not-found.png" />

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- ----------------------------------------------ADD Contact------------------------------------------------------ -->


<div class="container">


  <div class="row" style="padding:20px" *ngIf="AllContact">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div *ngIf="loginId.viewphoneDirectoryView || loginId.addphoneDirectoryView" class="card-header">
          <div class="row">
            <div class="col-sm-11">
              <h5 style="text-align:center;">CONTACT</h5>
            </div>

            <div class="col-sm-1">
              <i *ngIf="loginId.viewphoneDirectoryView" class="fa fa-eye" data-toggle="tooltip" aria-hidden="true" title="Close Add Contact"
                style="color:indigo; font-size:20px;" (click)="hideAddContact()"></i>

            </div>


          </div>
        </div>

        <div *ngIf="loginId.addphoneDirectoryView">
          <div class="card-body">
            <div *ngIf="successField">
              <h5 class="successmsg" style="text-align:center;">
                Contact Added Successfully!
              </h5>
            </div>
            <div *ngIf="authenticationError">
              <h5 class="errormsg" style="text-align:center;">Something went wrong. Please try again!</h5>
            </div>

            <form novalidate (ngSubmit)="onSubmit()" #contactForm="ngForm">
              
              <div class="form-group row" style="margin-left:10%">
                <label for="example-text-input" class="col-sm-4 col-sm-form-label form-control-sm">Name
                  <span class="req" style="color: Red">*</span>
                </label>
                <div class="col-sm-6" [ngClass]="{
                                         'has-danger': name.invalid && (name.dirty || name.touched),
                                         'has-success': name.valid && (name.dirty || name.touched)}">
                  <input class="form-control form-control-sm" type="text"  name="name" #name="ngModel" placeholder="Enter Name"
                    [(ngModel)]="contact.name" autocomplete="off" required>

                  <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">

                    <p *ngIf="name.errors.required">Name is required.</p>
                    <!-- <p *ngIf="name.errors.pattern">Invalid Name.</p> -->
                  </div>
                </div>
              </div>


              <div class="form-group row" style="margin-left:10%">
                <label for="example-text-input" class="col-sm-4 col-sm-form-label form-control-sm "> Mobile No
                  <span class="req" style="color: Red">*</span>
                </label>
                <div class="col-sm-6" [ngClass]="{ 'has-danger': mobileNo1.invalid && (mobileNo1.dirty || mobileNo1.touched),
                                                 'has-success': mobileNo1.valid && (mobileNo1.dirty || mobileNo1.touched)}">
                  <input class="form-control form-control-sm" type="text" name="mobileNo1" #mobileNo1="ngModel" [(ngModel)]="contact.mobileNo1"
                     (keypress)="restrictNumeric($event)" placeholder="Enter Mobile number" 
                    (input)="checkValidation(contact.mobileNo1)" minlength="10" maxlength="10" autocomplete="off" required>
                  <div class="form-control-feedback" *ngIf="mobileNo1.errors && (mobileNo1.dirty || mobileNo1.touched)">
                    <p *ngIf="mobileNo1.errors.required">Mobile is required.</p>
                    <!-- <p *ngIf="mobileNo1.errors.pattern && !mobileNo1.errors.minlength"> Invalid Number.</p>-->
                    <p *ngIf="mobileNo1.errors.minlength"> Minimum 10 numbers.</p> 
                  </div>
                  <div *ngIf="contactExists" style="color:red;">
                    <p>{{contactMessage}}</p>
                  </div>
                </div>
              </div>

              <div class="form-group row" style="margin-left:10%">
                <label for="example-text-input" class="col-sm-4 col-sm-form-label form-control-sm">Department
                  <span class="req" style="color: Red">*</span>
                </label>
                <div class="col-sm-6" [ngClass]="{
                                         'has-danger': departmentName.invalid && (departmentName.dirty || departmentName.touched),
                                         'has-success': departmentName.valid && (departmentName.dirty || departmentName.touched)}">
                  <input class="form-control form-control-sm" type="text"  name="departmentName" #departmentName="ngModel" placeholder="Enter Department"
                    [(ngModel)]="contact.departmentName" autocomplete="off" required>

                  <div class="form-control-feedback" *ngIf="departmentName.errors && (departmentName.dirty || departmentName.touched)">
                    <p *ngIf="departmentName.errors.required">Department is required.</p>
                  </div>
                </div>
              </div>


              <!-- <div class="form-group row" style="margin-left:10%">
                <label for="example-text-input" class="col-sm-4 col-sm-form-label form-control-sm"> Employee ID
                 
                </label>
                <div class="col-sm-6" [ngClass]="{ 'has-danger': empId.invalid && (empId.dirty || empId.touched),
                                                 'has-success': empId.valid && (empId.dirty || empId.touched)}">
                  <input class="form-control form-control-sm"  type="text" name="empId" #empId="ngModel" placeholder="Enter Employee Id"
                    [(ngModel)]="contact.empId" >
                   <div class="form-control-feedback" *ngIf="empId.errors && (empId.dirty || empId.touched)">
                    <p *ngIf="empId.errors.required">Employee ID is required.</p>
                  </div>(focusout)="focusOutFunction()"maxlength="8"
                  <div *ngIf="empidExists" style="color:red;">
                    <p>{{empmessage}}</p>
                  </div> 
                </div>
              </div> 

         
               <div class="form-group row" style="margin-left:10%">
                <label for="example-text-input " class="col-sm-4 col-sm-form-label form-control-sm"> Date of Birth
                
                </label>
                <div class="col-sm-6" [ngClass]="{ 'has-danger': dateofbirth.invalid && (dateofbirth.dirty || dateofbirth.touched),
                                                 'has-success': dateofbirth.valid && (dateofbirth.dirty || dateofbirth.touched)}">
                  <input class="form-control form-control-sm" type="date" name="dateofbirth" #dateofbirth="ngModel" [(ngModel)]="contact.dateofbirth"
                    >

                   <div class="form-control-feedback" *ngIf="dateofbirth.errors && (dateofbirth.dirty || dateofbirth.touched)">
                    <p *ngIf="dateofbirth.errors.required">Date is required.</p>

                  </div> 
                </div>
              </div>

                <div class="form-group row" style="margin-left:10%">
                <label for="example-text-input " class="col-sm-4 col-sm-form-label form-control-sm">Birthday Sms

                </label>
                <div class="col-sm-6">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="bdayCheck" name="bday" [(ngModel)]="contact.bday" #bday="ngModel"
                      (change)="changeCheck($event)">
                    <label class="custom-control-label" for="bdayCheck"> </label>
                  </div>
                </div>
              </div>
              <div class="form-group row" style="margin-left:10%" *ngIf=bdayCheck>
                <label for="example-text-input " class="col-sm-4 col-sm-form-label form-control-sm">

                </label>
                <div class="col-sm-6" [ngClass]="{ 'has-danger': bdaySms.invalid && (bdaySms.dirty || bdaySms.touched),
                                                   'has-success': bdaySms.valid && (bdaySms.dirty || bdaySms.touched)}">
                  <textarea put class="form-control form-control-sm" rows="4" name="bdaySms" [(ngModel)]="contact.bdaySms" #bdaySms="ngModel"
                    maxlength="150" (keyup)="doCount()" pattern="^[a-zA-Z0-9,._@ ]*$" required></textarea>
                  <div *ngIf="contact.bday == true">
                    <div class="form-control-feedback" *ngIf="bdaySms.errors && (bdaySms.dirty || bdaySms.touched)">
                      <p *ngIf="bdaySms.errors.required">Message Required.</p>
                       <p *ngIf="bdaySms.errors.pattern">inavlid Message </p>
                  
               </div>
                    <p class="instruction">Remaining:{{text_length}}</p>
                  </div>
                </div>
              </div>

              <div class="form-group row" style="margin-left:10%">
                <label for="example-text-input " class="col-sm-4 col-sm-form-label form-control-sm"> Date of Anniversary

                </label>
                <div class="col-sm-6">
                  <input class="form-control form-control-sm" type="date" name="dateofanniversary" #dateofanniversary="ngModel" [(ngModel)]="contact.dateofanniversary">


                </div>
              </div>

               <div class="form-group row" style="margin-left:10%">
                <label for="example-text-input " class="col-sm-4 col-sm-form-label form-control-sm">Anniversary Sms

                </label>
                <div class="col-sm-6">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="anniversarySMSCheck" name="anniversary" [(ngModel)]="contact.anniversary"
                      #anniversary="ngModel" (change)="anniversaryCheck($event)">
                    <label class="custom-control-label" for="anniversarySMSCheck"> </label>
                  </div>
                </div>
              </div>




              <div class="form-group row" style="margin-left:10%" *ngIf=anniversarySMSCheck>
                <label for="example-text-input " class="col-sm-4 col-sm-form-label form-control-sm">

                </label>
                <div class="col-sm-6" [ngClass]="{ 'has-danger': anniversarySms.invalid && (anniversarySms.dirty || anniversarySms.touched),
                                                   'has-success': anniversarySms.valid && (anniversarySms.dirty || anniversarySms.touched)}">
                  <textarea put class="form-control form-control-sm" rows="4" name="anniversarySms" [(ngModel)]="contact.anniversarySms" #anniversarySms="ngModel"
                    maxlength="150"required></textarea>
                  <div *ngIf="contact.anniversarySms == true">
                    <div class="form-control-feedback" *ngIf="anniversarySms.errors && (anniversarySms.dirty || anniversarySms.touched)">
                      <p *ngIf="anniversarySms.errors.required">Message Required.</p>
                    
                    </div>
                  </div>

                </div>
              </div> --> 



              <div class="row justify-content-center">
                <div style="margin:10px;">
                  <button type="submit" class="btn btn-sm btn-success mt-2 mt-sm-0" [disabled]="contactForm.invalid">Save
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- --------------------------------------------------UpdateModel------------------------------------------------ -->


<ng-template #updateModal>
  <div class="modal-content ">
    <div class="modal-header " style="background-color:lightblue;">
      <h5 class="modal-title pull-left">Update Contact </h5>
      <!-- <i class="fa fa-remove close pull-right" (click)="closeModel()" data-toggle="tooltip" title="Close" style="color:firebrick;font-size:20px;"
        aria-hidden="true"></i> -->
      <button type="button" class="close pull-right" aria-label="Close" style="color:red;font-size:30px;" (click)="closeModel()">
        <span aria-hidden="true">&times;</span>
      </button>

      <!-- <div class="row">
        <div *ngIf="successEdit" style="text-align:center;">
          <h6 class="successmsg">Contact updated successfully !</h6>
        </div>
        <div *ngIf="authenticationError" style="text-align:center;">
          <h6 class="errormsg">Something went wrong. Please try again !</h6>
        </div>
      </div> -->

    </div>


    <div class="modal-body">
      <div class="row text-center">
        <div *ngIf="successEdit">
          <h6 class="successmsg" style="margin-left: 130px;">Contact updated successfully !</h6>
        </div>
        <div *ngIf="authenticationError">
          <h6 class="errormsg" style="margin-left: 130px;">Something went wrong. Please try again !</h6>
        </div>
      </div>

      <form (ngSubmit)="submit" #formControl="ngForm">

        <div class="form-group row" style="margin-left:5%">
          <label for="example-text-input" class="col-sm-3 col-sm-form-label form-control-sm"> Employee ID

          </label>
          <div class="col-sm-6" [ngClass]="{ 'has-danger': empId.invalid && (empId.dirty || empId.touched),
                                               'has-success': empId.valid && (empId.dirty || empId.touched)}">
            <input class="form-control form-control-sm" type="text"  name="empId" #empId="ngModel" [(ngModel)]="contactNumber.empId"
               disabled>
          </div>
        </div>

        <div class="form-group row" style="margin-left:5%">
          <label for="example-text-input" class="col-sm-3 col-sm-form-label form-control-sm "> Name
          </label>
          <div class="col-sm-6" [ngClass]="{
          'has-danger': name.invalid && (name.dirty || name.touched),
          'has-success': name.valid && (name.dirty || name.touched)}">
            <input class="form-control form-control-sm" type="text" name="name" #name="ngModel" [(ngModel)]="contactNumber.name" 
               placeholder="Enter Name" autocomplete="off" required>
            <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">

              <p *ngIf="name.errors.required">Name is required.</p>
              <!-- <p *ngIf="name.errors.pattern">Invalid Name.</p> -->
            </div>
          </div>

        </div>



        <div class="form-group row" style="margin-left:5%">
          <label for="example-text-input" class="col-sm-3 col-sm-form-label form-control-sm "> Mobile No

          </label>
          <div class="col-sm-6" [ngClass]="{ 'has-danger': mobileNo1.invalid && (mobileNo1.dirty || mobileNo1.touched),
                                           'has-success': mobileNo1.valid && (mobileNo1.dirty || mobileNo1.touched)}">
            <input class="form-control form-control-sm" type="text" name="mobileNo1" #mobileNo1="ngModel" [(ngModel)]="contactNumber.mobileNo1"
              (keypress)="restrictNumeric($event)" placeholder="Enter Mobile number" 
            maxlength="10" minlength="10" autocomplete="off" required>

            <div class="form-control-feedback" *ngIf="mobileNo1.errors && (mobileNo1.dirty || mobileNo1.touched)">
              <p *ngIf="mobileNo1.errors.required">Mobile is required.</p>
              <!-- <p *ngIf="mobileNo1.errors.pattern && !mobileNo1.errors.minlength"> Invalid Number.</p>pattern="^[6-9][0-9]{9}$"-->
              <p *ngIf="mobileNo1.errors.minlength"> Minimum 10 numbers.</p> 
            </div>
          </div>
        </div>


        <div class="form-group row" style="margin-left:5%">
            <label for="example-text-input" class="col-sm-3 col-sm-form-label form-control-sm "> Department
            </label>
            <div class="col-sm-6" [ngClass]="{
            'has-danger': departmentName.invalid && (departmentName.dirty || departmentName.touched),
            'has-success': name.valid && (name.dirty || name.touched)}">
              <input class="form-control form-control-sm" type="text" name="departmentName" #departmentName="ngModel" [(ngModel)]="contactNumber.departmentName" 
                 placeholder="Enter Department" autocomplete="off" required>
              <div class="form-control-feedback" *ngIf="departmentName.errors && (departmentName.dirty || departmentName.touched)">
  
                <p *ngIf="departmentName.errors.required">Department is required.</p>
               
              </div>
            </div>
  
          </div>

        <!-- <div class="form-group row" style="margin-left:5%">
          <label for="example-text-input " class="col-sm-3 col-sm-form-label form-control-sm"> Date of Birth

          </label>
          <div class="col-sm-6" [ngClass]="{ 'has-danger': dateofbirth.invalid && (dateofbirth.dirty || dateofbirth.touched),
                                           'has-success': dateofbirth.valid && (dateofbirth.dirty || dateofbirth.touched)}">
            <input class="form-control form-control-sm" type="date" name="dateofbirth" #dateofbirth="ngModel" [(ngModel)]="contactNumber.dateofbirth">
             <div class="form-control-feedback" *ngIf="dateofbirth.errors && (dateofbirth.dirty || dateofbirth.touched)">
              <p *ngIf="dateofbirth.errors.required">Date is required.</p>

            </div> 

          </div>
        </div>

         <div class="form-group row" style="margin-left:5%">
          <label for="example-text-input " class="col-sm-3 col-sm-form-label form-control-sm">Birthday Sms

          </label>
          <div class="col-sm-6">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="bdayCheck" name="bday" [(ngModel)]="contactNumber.bday" #bday="ngModel"
                (change)="changeCheck($event)">
              <label class="custom-control-label" for="bdayCheck"> </label>
            </div>
          </div>
        </div> -->
        <!-- <div class="form-group row" style="margin-left:5%" *ngIf=bdayCheck>
          <label for="example-text-input " class="col-sm-3 col-sm-form-label form-control-sm">

          </label>
          <div class="col-sm-6" [ngClass]="{ 'has-danger': bdaySms.invalid && (bdaySms.dirty || bdaySms.touched),
                                               'has-success': bdaySms.valid && (bdaySms.dirty || bdaySms.touched)}">
            <textarea put class="form-control form-control-sm" rows="4" name="bdaySms" [(ngModel)]="contactNumber.bdaySms" #bdaySms="ngModel"
              maxlength="150"  required></textarea>
            <div *ngIf="contactNumber.bday == true">
              <div class="form-control-feedback" *ngIf="bdaySms.errors && (bdaySms.dirty || bdaySms.touched)">
                <p *ngIf="bdaySms.errors.required">Required.</p>

              </div>
             
            </div>
          </div>
        </div> 

        <div class="form-group row" style="margin-left:5%">
          <label for="example-text-input " class="col-sm-3 col-sm-form-label form-control-sm"> Date of Anniversary

          </label>
          <div class="col-sm-6">
            <input class="form-control form-control-sm" type="text" name="dateofanniversary" #dateofanniversary="ngModel" [(ngModel)]="contactNumber.dateofanniversary">

             <div class="form-control-feedback" *ngIf="dateofanniversary.errors && (dateofanniversary.dirty || dateofanniversary.touched)">
              <p *ngIf="dateofanniversary.errors.required">Date is required.</p> 

            </div> 
          </div>
        </div>

         <div class="form-group row" style="margin-left:5%">
          <label for="example-text-input " class="col-sm-3 col-sm-form-label form-control-sm">Anniversary Sms

          </label>
          <div class="col-sm-6">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="anniversarySMSCheck" name="anniversary" [(ngModel)]="contactNumber.anniversary"
                #anniversary="ngModel" (change)="anniversaryCheck($event)">
              <label class="custom-control-label" for="anniversarySMSCheck"> </label>
            </div>
          </div>
        </div> 




       <div class="form-group row" style="margin-left:5%" *ngIf=anniversarySMSCheck>
          <label for="example-text-input " class="col-sm-3 col-sm-form-label form-control-sm">

          </label>
          <div class="col-sm-6" [ngClass]="{ 'has-danger': anniversarySms.invalid && (anniversarySms.dirty || anniversarySms.touched),
                                               'has-success': anniversarySms.valid && (anniversarySms.dirty || anniversarySms.touched)}">
            <textarea put class="form-control form-control-sm" rows="4" name="anniversarySms" [(ngModel)]="contactNumber.anniversarySms"
              #anniversarySms="ngModel" maxlength="150" required></textarea>
            <div *ngIf="contactNumber.anniversarySms == true">
              <div class="form-control-feedback" *ngIf="anniversarySms.errors && (anniversarySms.dirty || anniversarySms.touched)">
                <p *ngIf="anniversarySms.errors.required">Required.</p>

              </div>
            </div>

          </div>
        </div>  -->



        <div class="form-group" style="text-align:center;">
          <button type="button" class="btn btn-info btn-sm" [disabled]="!formControl.valid" (click)="updateContact()">update</button>

        </div>

      </form>
    </div>



  </div>

</ng-template>