<app-menu></app-menu>

<div class="container">

  <div class="row" style="padding:20px">
    <div class="col-sm-1">

    </div>

    <div class="col-sm-10">
      <div class="card">
        <div class="card-header">
          <h5 style="text-align:center;">DND Master</h5>
        </div>

        <div class="card-body">

          <form action="/html/tags/html_form_tag_action.cfm" class="form-inline">
            <label class="mr-sm-2 mb-0 col-form-label-sm" for="first_name"> Number File ( .txt ) </label>
            <input type="file"  class="form-control col-sm-3 form-control-sm mr-sm-2 mb-2 mb-sm-0" id="first_name" name="first_name">

            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">Message </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">Voice </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline3">Both </label>
                </div>
            <button type="submit" class="btn btn-sm btn-primary mt-2 mt-sm-0">Upload</button> 
          </form>
          <hr>
          <form action="/html/tags/html_form_tag_action.cfm" class="form-inline">
            <label class=" mr-sm-2 mb-0 col-form-label-sm" for="first_name"> Number File ( .xls ) </label>
            <input type="file" class="form-control col-sm-3  form-control-sm mr-sm-2 mb-2 mb-sm-0" id="first_name" name="first_name">

            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline4" name="customRadioInline4" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline4">Message </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline5" name="customRadioInline4" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline5">Voice </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline6" name="customRadioInline4" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline6">Both </label>
                </div>
            <button type="submit" class="btn btn-sm btn-primary mt-2 mt-sm-0">Upload</button> 
          </form>
          <hr>
          <form action="/html/tags/html_form_tag_action.cfm" class="form-inline">
            <label class="mr-sm-2 mb-0 col-form-label-sm" for="first_name">Enter Number (csv) </label>
            <input type="text" class="form-control form-control-sm col-sm-3  mr-sm-2 mb-2 mb-sm-0" id="first_name" name="first_name">

            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline7" name="customRadioInline7" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline7">Message </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline8" name="customRadioInline7" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline8">Voice </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline9" name="customRadioInline7" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline9">Both </label>
                </div>
            <button type="submit" class="btn btn-sm btn-secondary mt-2 mt-sm-0">Add</button> 
          </form>

        </div>

      </div>
    </div>
  </div>
</div>