<app-menu></app-menu>
<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>

<div class="container-fluid">
  <div class="row" style="padding:20px">
    <div class="col-md-8 offset-md-2">

      <br>
      <div class="row justify-content-center">



        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline1" value="true" checked="true" name="customRadioInline1" class="custom-control-input"
            (click)="updateOn(1)">
          <label class="custom-control-label" for="customRadioInline1">Update PhoneDirectory</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline2" value="false" name="customRadioInline1" class="custom-control-input" (click)="updateOn(2)">
          <label class="custom-control-label" for="customRadioInline2">Upload Contact</label>
        </div>
      </div>
    </div>
  </div>




  <!-- ----------------------------------------------------------------Update Phone Directory server------------------------ -->
  <div class="row" style="padding:20px" *ngIf="showUpdate">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-12">
              <h5 style="text-align:center;">Pull Service</h5>
            </div>
          </div>
        </div>
        <div class="card-body" style="padding-left:140px ;">
          <div class="col-sm-12">
            <label class="col-sm-6 col-sm-form-label form-control-sm">
              <b>Update PhoneDirectory</b>
            </label>
            <button class="btn btn-sm btn-primary mt-2 mt-sm-0" (click)="updatePhoneDirectory()">UPDATE</button> &nbsp;&nbsp;
            <div class="row" *ngIf="authenticationError">
              <h5 class="errormsg" style="padding-left:120px;">Something went wrong. Please try again!</h5>
            </div>
          </div>
          <div class="row" *ngIf="successContact">
            <h5 class="successmsg" style="padding-left:120px;">{{successMessage}} Contact successfully Update
            </h5>
          </div>
          
          <hr>
          <div class="col-sm-12">
            <label class="col-sm-6 col-sm-form-label form-control-sm">
              <b>Update Location </b>
            </label>
            <button class="btn btn-sm btn-primary mt-2 mt-sm-0" (click)="updateLocation()">UPDATE</button> &nbsp;&nbsp;
            <div class="row" *ngIf="Error">
              <h5 class="errormsg" style="padding-left:120px;">Something went wrong. Please try again!</h5>
            </div>
          </div>
          <div class="row" *ngIf="successLocation">
            <h5 class="successmsg" style="padding-left:120px;">
              {{successMessage}} Location Updated successfully!
            </h5>
          </div>
        
          <hr>
          <div class="col-sm-12">
            <label class="col-sm-6 col-sm-form-label form-control-sm">
              <b>Update Department </b>
            </label>
            <button class="btn btn-sm btn-primary mt-2 mt-sm-0" (click)="updateDepartment()">UPDATE</button> &nbsp;&nbsp;
            <div class="row" *ngIf="authentication">
              <h5 class="errormsg" style="padding-left:120px;">Something went wrong. Please try again!</h5>
            </div>
          </div>
          <div class="row" *ngIf="successDepartment">
            <h5 class="successmsg" style="padding-left:120px;">{{successMessage}} Department Updated successfully!
            </h5>
          </div>
         
          <hr>
        </div>
      </div>
    </div>
  </div>
  <!-- ------------------------------------------------------File Upload------------------------------------------------ -->

  <div class="row" style="padding:20px" *ngIf="!showUpdate">
    <div class="col-sm-1"></div>

    <div class="col-sm-4">
      <div class="card h-100 text-black bg-secondary">
        <div class="card-body">
          <h6 class="card-title">
            <i class="fas fa-mobile" style="color:darkblue;font-size:20px;"></i>&nbsp;Mobile Number Details
          </h6>

          <p class="card-text">
            Right number:
            <span class="badge badge-pill badge-success text-right;">{{fileUploadReport[0]}}</span>
          </p>
          <p class="card-text">
            Wroung number:
            <span class="badge badge-pill badge-danger  text-right;">{{fileUploadReport[1]}}</span>
          </p>
          <p class="card-text">
            Duplicate number:
            <span class="badge badge-pill badge-danger  text-right;">{{fileUploadReport[2]}}</span>
          </p>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <!-- <div class="col-md-6 offset-md-3"> -->
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-12">
              <h5 style="text-align:center;">Allow Mobile Master
                <a data-toggle="modal" data-target="#myModal" (click)="openLg(content)">
                  <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="Help" style="color:navy;font-size:25px;"></i>
                </a>
              </h5>
            </div>
          </div>
        </div>


        <div class="card-body">

          <form class="form-inline" name="myForm1" (ngSubmit)="uploadTextFile(1)" #uploadForm1="ngForm">
            <label class="mr-sm-2 mb-0 col-form-label-sm"> Number File ( .txt ) </label>
            <!-- <input type="file" (change)="onFileChange($event)" class="form-control col-sm-3 form-control-sm mr-sm-2 mb-2 mb-sm-0"  name="txtFile" [(ngModel)]="file.txtFile" #txtFile="ngModel"> -->
            <input type="file" class="form-control col-sm-5 form-control-sm mr-sm-2 mb-2 mb-sm-0" (change)="onTextFileChange($event)"
              name="txtFile" [(ngModel)]="user.txtFile" accept=".txt" required>

            <!-- <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="txtid" name="smstype" class="custom-control-input" [(ngModel)]="messageType" value="messsage">
                      <label class="custom-control-label" for="txtid">Message </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="voiceid" name="smstype" class="custom-control-input" [(ngModel)]="messageType" value="voice">
                      <label class="custom-control-label" for="voiceid">Voice </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="bothid" name="smstype" class="custom-control-input" [(ngModel)]="messageType" value="both">
                        <label class="custom-control-label" for="bothid">Both </label>
                      </div> -->
            <button class="btn btn-sm btn-primary mt-2 mt-sm-0">Upload</button> &nbsp;&nbsp;
            <button type="reset" class="btn btn-sm btn-primary mt-2 mt-sm-0" (click)="reset(1)">Reset</button>
            <div class="col-sm-12" *ngIf="!isTextFile" style="text-align:center;">
              <span style="color:red">{{errorTXTFileMessage}}{{errorTXTFileMessage1}}</span>
            </div>
          </form>
          <hr>


          <form class="form-inline" name="myForm2" (ngSubmit)="uploadTextFile(2)" #uploadForm2="ngForm">
            <label class=" mr-sm-2 mb-0 col-form-label-sm" for="first_name"> Number File (.xls ) </label>
            <input type="file" class="form-control col-sm-5 form-control-sm mr-sm-2 mb-2 mb-sm-0" (change)="onXlsFileChange($event)"
              name="xlsFile" [(ngModel)]="user.xlsFile" accept=".xlsx, .xls" required>

            <button class="btn btn-sm btn-primary mt-2 mt-sm-0">Upload</button> &nbsp;&nbsp;
            <button type="reset" class="btn btn-sm btn-primary mt-2 mt-sm-0" (click)="reset(2)">Reset</button>
            <div class="col-sm-12" *ngIf="!isExcelFile" style="text-align:center;">
              <span style="color:red">{{errorEXFileMessage}}{{errorEXFileMessage1}}</span>
            </div>
          </form>



          <!-- <hr>
                <form action="/html/tags/html_form_tag_action.cfm" class="form-inline">
                  <label class="mr-sm-2 mb-0 col-form-label-sm" for="first_name">Enter Number </label>
                  <input type="text" class="form-control form-control-sm col-sm-3  mr-sm-2 mb-2 mb-sm-0" id="first_name" name="first_name">
      
                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline7" name="customRadioInline7" class="custom-control-input">
                      <label class="custom-control-label" for="customRadioInline7">Message </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline8" name="customRadioInline7" class="custom-control-input">
                      <label class="custom-control-label" for="customRadioInline8">Voice </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline9" name="customRadioInline7" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline9">Both </label>
                      </div>
                  <button type="submit" class="btn btn-sm btn-primary mt-2 mt-sm-0">Add</button> 
                </form> -->
          <br>
          <div class="row justify-content-center" *ngIf="fileupload">
            <h5 class="successmsg">file uploaded successfully !</h5>
          </div>
        </div>

      </div>
      <!-- </div> -->
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>


<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12" style="text-align:center;">
      <span>Right number</span>
      <span class="badge badge-pill badge-success text-right;">{{fileUploadReport[0]}}</span> &nbsp;&nbsp;
      <span>Wroung number</span>
      <span class="badge badge-pill badge-danger  text-right;">{{fileUploadReport[1]}}</span> &nbsp;&nbsp;
      <span>Duplicate number</span>
      <span class="badge badge-pill badge-danger  text-right;">{{fileUploadReport[2]}}</span> &nbsp;&nbsp;
    </div>
  </div>

  <div class="row" style="padding:20px">

    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-12">
              <h5 style="text-align:center;">Allow Mobile Master
                <a data-toggle="modal" data-target="#myModal" (click)="openLg(content)">
                  <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="Help" style="color:navy;font-size:25px;"></i>
                </a>
              </h5>
            </div>
          </div>
        </div>


        <div class="card-body">

          <form class="form-inline" name="myForm1" (ngSubmit)="uploadTextFile(1)" #uploadForm1="ngForm">
            <label class="mr-sm-2 mb-0 col-form-label-sm"> Number File ( .txt ) </label>

            <input type="file" class="form-control col-sm-5 form-control-sm mr-sm-2 mb-2 mb-sm-0" (change)="onTextFileChange($event)"
              name="txtFile" [(ngModel)]="user.txtFile" accept=".txt" required>


            <button class="btn btn-sm btn-primary mt-2 mt-sm-0">Upload</button> &nbsp;&nbsp;
            <button type="reset" class="btn btn-sm btn-primary mt-2 mt-sm-0" (click)="reset(1)">Reset</button>
            <div class="col-sm-12" *ngIf="!isTextFile" style="text-align:center;">
              <span style="color:red">{{errorTXTFileMessage}}{{errorTXTFileMessage1}}</span>
            </div>
          </form>
          <hr>


          <form class="form-inline" name="myForm2" (ngSubmit)="uploadTextFile(2)" #uploadForm2="ngForm">
            <label class=" mr-sm-2 mb-0 col-form-label-sm" for="first_name"> Number File (.xls ) </label>
            <input type="file" class="form-control col-sm-5 form-control-sm mr-sm-2 mb-2 mb-sm-0" (change)="onXlsFileChange($event)"
              name="xlsFile" [(ngModel)]="user.xlsFile" accept=".xlsx, .xls" required>

            <button class="btn btn-sm btn-primary mt-2 mt-sm-0">Upload</button> &nbsp;&nbsp;
            <button type="reset" class="btn btn-sm btn-primary mt-2 mt-sm-0" (click)="reset(2)">Reset</button>
            <div class="col-sm-12" *ngIf="!isExcelFile" style="text-align:center;">
              <span style="color:red">{{errorEXFileMessage}}{{errorEXFileMessage1}}</span>
            </div>
          </form>




          <br>
          <div class="row justify-content-center" *ngIf="fileupload">
            <h5 class="successmsg">file uploaded successfully !</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
 -->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" style="background-color:cadetblue;">
    <div class="col-sm-10">
      <h6 class="modal-title" id="myModalLabel" style="color:green">Upload Doc File Help Document</h6>
    </div>
    <div class="col-sm-2">
      <a class="close" data-dismiss="modal" data-toggle="tooltip" title="Close" (click)="d('Cross click')" style="color:firebrick;font-size:20px;"
        aria-hidden="true">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <div style="text-align: center;">
      <iframe src="assets\images\help_doc\Upload _DOC_HELP.pdf" frameborder="0" style="height:800px; width: 800px;"></iframe>
    </div>
  </div>
  <div class="modal-footer" style="background-color:lightblue;text-align:center">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-danger" (click)="c('Close click')">Close</button>
    </div>
  </div>
</ng-template>