<app-menu></app-menu>

<div class="container">
    <div class="row" style="padding:20px">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-11">
                            <h5 style="text-align: center;">Message Detail</h5>
                        </div>
                        <div class="col-sm-1">
                            <span  class="badge badge-pill badge-danger  text-right;">{{numberOfData}} </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 offset-md-3" style="text-align:center;" *ngIf="deleteField">
                    <h5 class="successmsg">Deleted successfully!</h5>
                </div>
                <div class="col-md-6 offset-md-3" style="text-align:center;" *ngIf="authenticationError">
                    <h5 class="errormsg">Something went wrong. Please try again !</h5>
                </div>

                <div class="col-md-6 offset-md-3" style="text-align:center;" *ngIf="successField">
                    <h5 class="successmsg">Message Send successfully!</h5>
                </div>

                <div class="col-md-6 offset-md-3" style="text-align:center;" *ngIf="authenticationError2">
                    <h5 class="errormsg">Something went wrong. Please try again !</h5>
                </div>

                <div class="col-md-6 offset-md-3" style="text-align:center;" *ngIf="cancleField">
                    <h5 class="successmsg">Cancle successfully!</h5>
                </div>
                

                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-12 form-inline" style="margin-bottom:10px;padding:5px;background-color: rgb(190, 229, 235);">
                            <div class="col-sm-8 form-inline">
                                <label for="search" class="col-sm-2 col-sm-form-label form-control-sm ">
                                    <b>Search:</b>
                                </label>
                                <input type="text" class="form-control col-sm-4 form-control-sm" name="mobile" [(ngModel)]="filter.mobile" placeholder="Contact Number">
                            </div>

                        </div>

                    </div>

                    <ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>
                    <div class="row">
                        <div class="col-2">
                            <label class="col-sm-form-label form-control-sm">Message:</label>
                        </div>
                        <div class="col-10" style="background-color: rgb(190, 229, 235);font-size: medium">
                            {{message}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <label class="col-sm-form-label form-control-sm">Schedule Type:</label>
                        </div>
                        <div class="col-10" style="background-color: rgb(190, 229, 235);font-size:medium">
                            {{scheduleType}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <label class="col-sm-form-label form-control-sm">Schedule Date:</label>
                        </div>
                        <div class="col-10" style="background-color: rgb(190, 229, 235);font-size:medium">
                            {{scheduleDate | date:'dd-MM-yyyy'}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <label class="col-sm-form-label form-control-sm">Schedule Time:</label>
                        </div>
                        <div class="col-10" style="background-color: rgb(190, 229, 235);font-size:medium">
                            <!-- {{duplicatList[0].scheduleDate | date:'HH:mm:ss'}} -->
                            {{scheduleDate | date:'HH:mm:ss'}}
                        </div>
                    </div>

                    <div class="table-responsive" style="padding-top:20px;">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr class="table-info">
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Mobile.No</th>
                                    <th scope="col">Project</th>
                                    <th scope="col">Location</th>
                                    <!-- <th scope="col">Department</th> -->
                                    <th>Grade</th>
                                    <th scope="col">Group</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let phone of messageDetail | datafilter:filter | paginate: { itemsPerPage: 15, currentPage: p }; let i = index">
                                    <td>{{phone.id}}</td>
                                    <td>{{phone.phoneDirectoryName}}</td>
                                    <td>{{phone.mobile}}</td>
                                    <td>{{phone.project}}</td>
                                    <td>{{phone.locationName}}</td>
                                    <!-- <td>{{phone.departmentName}}</td> -->
                                    <td>{{phone.grade}}</td>
                                    <td>{{phone.contactGroupName}}</td>
                                    <td>
                                        <i class="fa fa-trash-o" data-toggle="tooltip" title="Delete" style="color:red;font-size:20px;"
                                            (click)="open(phone,deleteModal)"></i>
                                    </td>
                                </tr>
                                <tr>

                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="row justify-content-center" style="background-color: rgb(190, 229, 235)">
                        <pagination-controls (pageChange)="p= $event"></pagination-controls>
                    </div>

                    <div class="row justify-content-center">
                        <div style="margin:10px;">
                            <button type="submit" class="btn btn-sm btn-success mt-2 mt-sm-0" (click)="saveScheduleMessage(1)">
                                Confirm </button>
                        </div>
                        <div style="margin:10px;">
                            <button type="cancle" class="btn btn-sm btn-success mt-2 mt-sm-0" (click)="saveScheduleMessage(0)">
                                Cancle </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #deleteModal let-c="close" let-d="dismiss">

    <div class="modal-content" style="background-color: khaki;">
        <form (ngSubmit)="submit" #formControl="ngForm">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h5 style="color:green; text-align: center"> Are You Sure Want To Delete {{phone.mobile}}</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row justify-content-center">
                    <div class="col-sm-12" style="margin-right: 127px;">
                        <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeMessageDetail(phone)">Yes</button>
                        <button type="button" class="btn btn-outline-info btn-sm" (click)="closeModel()">No</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<!-- --------------------------------------------------------popup------------------------------------- -->