<app-menu></app-menu>

<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>

<div class="container">
  <div class="row" style="padding:20px">

    <div class="col-md-8 offset-md-2">
      <div class="card h-100 text-black">
        <div class="card-header" style="padding: 0.75rem 11.25rem;">
          <div class="row">
            <div class="col-sm-10 h6 setText">
              Account Status
              <!-- Status Of Application&hellip;&hellip;
              <ng-container *ngIf="!SMS_APPLICATION_RESPONSE">
                <p style="color:red;">Please Start a SMS Service Application</p>
              </ng-container>
              <ng-container *ngIf="SMS_APPLICATION_RESPONSE">
                <p style="color:green;">SMS Service Application is Running</p>
              </ng-container> -->
              <ng-container *ngIf="urlnamestatus">
                <h5 style="color:red">Please Check Url is Not Found</h5>
              </ng-container>
            </div>

            <div class="col-sm-2 h6 text-center" *ngFor="let url of urlList">
              <a class="btn btn-outline-danger btn-sm" data-toggle="tooltip" title="Update" role="button" (click)="openLg(url,updateModal)">About URL</a>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row justify-content-center">
            <ng-container *ngIf="URL_RESPONSE">
              <h5 style="color:darkgreen;">URL is Running For Send SMS</h5>
            </ng-container>

            <ng-container *ngIf="!URL_RESPONSE">
              <h5 style="color:red">URL IS STOPED</h5>
            </ng-container>
          
          </div>
          <!-- <form #form="ngForm" (ngSubmit)="submitForm(form.value)"> -->
          <!-- <form (ngSubmit)="submit" #formControl="ngForm"> -->
          <form>
            <!-- <div class="row">
              <div class="col-sm-6">
                <label class="mr-sm-2 mb-0 col-form-label-sm"> Client Name

                </label>

                <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="clientName" #clientName="ngModel" [(ngModel)]="account.clientName">

              </div>


              <div class="col-sm-6">
                <label class="mr-sm-2 mb-0 col-form-label-sm"> Sent Sms

                </label>

                <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="sentSms" sentSms="ngModel" [(ngModel)]="account.sentSms">

              </div>



            </div> -->

            <!-- <div class="row">
              <div class="col-sm-6">
                <label class="mr-sm-2 mb-0 col-form-label-sm"> Purchased On

                </label>

                <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="purchasedOn" #purchasedOn="ngModel" [(ngModel)]="account.purchasedOn">

              </div>


              <div class="col-sm-6">
                <label class="mr-sm-2 mb-0 col-form-label-sm"> GSM Sender ID

                </label>

                <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="gsmSenderId" #gsmSenderId="ngModel" [(ngModel)]="account.gsmSenderId">

              </div>



            </div> -->
            <br>


            <!-- <div class="row">
               <div class="form-inline col-sm-6">
                <label for="example-text-input " class="col-sm-3 col-sm-form-label form-control-sm">URL

                </label>
                <div class="col-sm-6">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="urlCheck" name="url" [(ngModel)]="account.url" #url="ngModel"
                    (change)="changeCheck($event)">
                    
                    <label class="custom-control-label" for="urlCheck"> </label>
                  </div>
                </div>
              </div>

              <div class="form-inline col-sm-6">
                <label for="example-text-input " class="col-sm-3 col-sm-form-label form-control-sm">Gateway

                </label>
                <div class="col-sm-6" > 
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="gatewayCheck" name="gateway" [(ngModel)]="account.gateway" #gateway="ngModel"
                    (change)="changeCheck($event)">
                    <label class="custom-control-label" for="gatewayCheck"> </label>
                  </div>
                </div>
              </div> 
            </div> -->

            <div class="col-sm-12" style="text-align:center;" *ngIf="start">
              <p style="color: red">Please Select URL OR GATEWAY For Start/Stop SMS Service</p>
            </div>

            <div class="row justify-content-center">
              <div class="custom-control custom-radio custom-control-inline">
                <!-- <input type="radio" id="urlCheck" name="URL" #URL="ngModel" [(ngModel)]="account.URL" value='URL' class="custom-control-input" > -->
                <input type="radio" class="custom-control-input" id="urlCheck" name="selectforSms" value="URL" [(ngModel)]="account.smsService">
                <label class="custom-control-label" for="urlCheck">Select URL</label>
              </div>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <div class="custom-control custom-radio custom-control-inline">
                <!-- <input type="radio" id="gatewayCheck" name="GATEWAY" #GATEWAY="ngModel" [(ngModel)]="account.GATEWAY" value='GATEWAY' class="custom-control-input"> -->
                <input type="radio" class="custom-control-input" id="gatewayCheck" name="selectforSms" value="GATEWAY" [(ngModel)]="account.smsService">
                <label class="custom-control-label" for="gatewayCheck">Gateway</label>

              </div>

            </div>

            <div class="row justify-content-center">
              <div style="margin:10px;">
                <!-- <button type="submit" [disabled]="isClicked" class="btn btn-sm btn-success mt-2 mt-sm-0">Start Service</button> -->
                <button class="btn btn-sm btn-success mt-2 mt-sm-0" [disabled]="URL_RESPONSE" (click)="startService()">
                  Start Service </button>
              </div>
              <div style="margin:10px;">
                <button class="btn btn-sm btn-danger mt-2 mt-sm-0" [disabled]="!URL_RESPONSE" (click)="stopService()"> Stop Service </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #updateModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-sm-2 text-center">
      <h6 class="modal-title" style="color: maroon">URL Details</h6>
    </div>
    <div class="col-sm-8 text-center">
      <div *ngIf="successField">
        <h5 class="successmsg">
          SMS URL UPDATE SUCCESSFULLY
        </h5>
      </div>
    </div>
    <div class="col-sm-2">
      <i class="fa fa-remove" (click)="d('Cross click')" data-toggle="tooltip" title="Close" style="color:firebrick;font-size:20px;"
        aria-hidden="true"></i>
    </div>
  </div>
  <form>
    <div class="modal-body">
      <!-- <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <div *ngFor="let urls of urlUsing">
              
            </div>
          </span>
        </div>
      </div> -->
      <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text HEAD">Protocol</span>
        </div>
        <input [disabled]="disabled" type="text" class="form-control" name="protocol" [(ngModel)]="url.protocol" placeholder="Enter Auth Key"
          aria-label="Amount (rounded to the nearest dollar)" aria-describedby="basic-addon">
      </div>
      <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text HEAD">DomainName</span>
        </div>
        <input [disabled]="disabled" type="text" class="form-control" name="domainName" [(ngModel)]="url.domainName" placeholder="Enter Auth Key"
          aria-label="Amount (rounded to the nearest dollar)" aria-describedby="basic-addon">
      </div>
      <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text HEAD">Sender</span>
        </div>
        <input [disabled]="disabled" type="text" class="form-control" name="parameter1" [(ngModel)]="url.parameter1" placeholder="Enter Auth Key"
          aria-label="Amount (rounded to the nearest dollar)" aria-describedby="basic-addon">
      </div>
      <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text HEAD">Route</span>
        </div>
        <input [disabled]="disabled" type="text" class="form-control" name="parameter2" [(ngModel)]="url.parameter2" placeholder="Enter Auth Key"
          aria-label="Amount (rounded to the nearest dollar)" aria-describedby="basic-addon">
      </div>
      <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text HEAD">Mobiles</span>
        </div>
        <input [disabled]="disabled" type="text" class="form-control" name="parameter3" [(ngModel)]="url.parameter3" placeholder="Enter Auth Key"
          aria-label="Amount (rounded to the nearest dollar)" aria-describedby="basic-addon">
      </div>
      <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text HEAD">Auth key</span>
        </div>
        <input [disabled]="disabled" type="text" class="form-control" name="authkey" [(ngModel)]="url.parameter4" placeholder="Enter Auth Key"
          aria-label="Amount (rounded to the nearest dollar)" aria-describedby="basic-addon">
      </div>
      <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text HEAD">Country</span>
        </div>
        <input [disabled]="disabled" type="text" class="form-control" name="parameter5" [(ngModel)]="url.parameter5" placeholder="Enter Auth Key"
          aria-label="Amount (rounded to the nearest dollar)" aria-describedby="basic-addon">
      </div>
      <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text HEAD">Message</span>
        </div>
        <input [disabled]="disabled" type="text" class="form-control" name="parameter6" [(ngModel)]="url.parameter6" placeholder="Enter Auth Key"
          aria-label="Amount (rounded to the nearest dollar)" aria-describedby="basic-addon">
      </div>
      <div class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text HEAD">URL</span>
        </div>
        <input disabled type="text" class="form-control" name="urlName" [(ngModel)]="url.urlName" placeholder="Enter Auth Key"
          aria-label="Amount (rounded to the nearest dollar)" aria-describedby="basic-addon">
      </div>

      <!-- <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="url"> -->
    </div>
    <div class="modal-footer text-center" style="padding-right:40%;">
      <!-- <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button> -->
      <!-- <a class="btn btn-primary" data-toggle="tooltip" title="Edit Url" class="btn btn-outline-primary btn-sm" (click)="editURL()" role="button">Edit</a>
      <a class="btn btn-primary" data-toggle="tooltip" title="Update Url" class="btn btn-outline-primary btn-sm" (click)="updateURL()" role="button">Update</a>
      <a class="btn btn-primary" data-toggle="tooltip" title="Close" class="btn btn-outline-primary btn-sm" (click)="c('Close click')" role="button">Close</a> -->
      <button [disabled]="disabled1" type="button" data-toggle="tooltip" title="Edit Url" class="btn btn-outline-primary btn-sm"
        (click)="editURL()">Edit</button>
      <button [disabled]="disabled" data-toggle="tooltip" title="Update Url" type="button" class="btn btn-outline-primary btn-sm"
        (click)="updateURL()">Update</button>
      <button type="button" data-toggle="tooltip" title="Close" class="btn btn-outline-primary btn-sm" (click)="c('Close click')">Close</button>
    </div>
  </form>
</ng-template>