<app-menu></app-menu>
<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>

<div class="container">
    <!-- <div class="row" style="margin-top:20px;margin-left:2%;">
      
  <i class="fa fa-plus-square" data-toggle="tooltip" title="Add location" style="color:green;font-size:30px;" (click)="OpenModel(location,updateModal)"></i>
      
  </div> -->

    <div class="row" style="margin-top:10%" *ngIf="!loginId.addlocationView && !loginId.viewlocationView">
        <div class="col-md-8 offset-md-4">
            <h5 style="color:red">Sorry! You Have No Access To See</h5>
            <img src="../../assets/images/NO_ACCESS.jpg" />
        </div>
    </div>

    <div class="modal custom-class">
        <div class="modal-dialog">
            <div class="modal-content">
                Hello
            </div>
        </div>
    </div>

    <div class="row" style="margin:20px">
        <div class="col-sm-12">
            <div class="card h-100 text-black bg-secondary">
                <div class="card-header" *ngIf="loginId.addlocationView || loginId.viewlocationView">
                    <div class="row">
                        <div class="col-sm-2   text-left">
                            <i *ngIf="loginId.addlocationView" class="fa fa-plus-square" data-toggle="tooltip" title="Add location" style="color:green;font-size:30px;"
                                (click)="OpenModel(location,updateModal)"></i>
                        </div>
                        <div class="col-sm-8 h5  text-center">
                            Location
                        </div>
                        <div class="col-sm-2 text-right">
                            <span class="badge badge-pill badge-danger  text-right;">{{numberOfData}} </span>
                        </div>
                    </div>
                </div>

                <div class="card-body" *ngIf="loginId.viewlocationView">
                    <div class="form-group row">
                        <div class="col-sm-12 form-inline" style="margin-bottom:10px;padding:5px;background-color: rgb(190, 229, 235);">
                            <div class="col-sm-8 form-inline">
                                <label for="limit" class="col-sm-1 col-sm-form-label form-control-sm "><b>Search:</b></label>
                                <input type="text" class="form-control col-sm-3 form-control-sm" name="locationName" [(ngModel)]="filter.locationName" placeholder="Location Name">
                            </div>
                            <div class="col-sm-2 form-inline">
                                <label for="limit" class="col-sm-6 col-sm-form-label form-control-sm "><b>Limit:</b></label>
                                <input type="number" class="form-control col-sm-6 form-control-sm" name="limit" [(ngModel)]="limit" min="1" [attr.max]="[numberOfData]"
                                    step="1" placeholder="Limit">
                            </div>
                            <div class="col-sm-2 form-inline">
                                <label for="page" class="col-sm-6 col-sm-form-label form-control-sm "><b>Page:</b></label>
                                <input type="number" class="form-control col-sm-6 form-control-sm" name="page" [(ngModel)]="page" min="1" [attr.max]="[numberOfData]"
                                    step="1" placeholder="Page">
                            </div>



                        </div>
                        <div class="col-sm-12" style="text-align:center;" *ngIf="deleteField">

                            <h5 class="successmsg">location Deleted successfully!</h5>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-hover">
                                <thead>
                                    <tr class="table-info">
                                        <th>S.No.</th>
                                        <th>Location Name</th>
                                        <th>Date/Time</th>

                                        <th style="text-align: center;" *ngIf="loginId.modifylocationView || loginId.deletelocationView">Action</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr class="table-info" *ngFor="let location of locationList1 | datafilter:filter | slice:(page-1)*limit:page*limit;let id=index;">
                                        <td>{{id+1}}</td>
                                        <td>{{location.locationName}}</td>
                                        <td>{{location.createDate}}</td>


                                        <td style="text-align: center;" *ngIf="loginId.modifylocationView || loginId.deletelocationView">
                                            <i *ngIf="loginId.modifylocationView" class="fa fa-pencil-square-o" data-toggle="tooltip" title="Update Location" style="color:Blue;font-size:20px;"
                                                (click)="OpenModel(location,updateModal)"></i>


                                            &nbsp;&nbsp;&nbsp;
                                            <!-- <i *ngIf="loginId.deletelocationView" class="fa fa-trash-o" data-toggle="tooltip" title="Delete Location" style="color:red;font-size:20px;"
                                                (click)="deleteLocation(location)"></i> -->

                                            <i *ngIf="loginId.deletelocationView" class="fa fa-trash-o" data-toggle="tooltip" title="Delete Location" style="color:red;font-size:20px;"
                                                (click)="open(location,deleteModal)"></i>

                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>


                    <!-- <div class="row justify-content-center">
            <div>
              <button class="btn btn-default btn-sm btn-block">Generate Excel</button>
            </div>
            <div style="margin-left: 10px; ">
              <button class="btn btn-default btn-sm btn-block">Generate PDF</button>
            </div>
            
          </div> -->
                    <div class="row" *ngIf="nolocationCreated">

                        <div class="col-md-6 offset-md-3" style="text-align:center;">
                            <img src="../../assets/images/not-found.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<ng-template #updateModal>

    <div class="modal-content ">
        <div class="modal-header " style="background-color:lightblue;text-align:center">
            <div class="col-sm-10">
                <h6 class="modal-title" *ngIf="location.locationId">Update Location </h6>
                <h6 class="modal-title" *ngIf="!location.locationId">Add New Location </h6>
            </div>
            <div class="col-sm-2">
                <!-- <button type="button" class="btn btn-info btn-sm" (click)="closeModel()">close</button> -->
                <i class="fa fa-remove" (click)="closeModel()" data-toggle="tooltip" title="Close" style="color:firebrick;font-size:20px;"
                    aria-hidden="true"></i>
            </div>

        </div>
        <div class="modal-body">
            <form class="form-inline" (ngSubmit)="submit" #formControl="ngForm">
                <div class="form-group">

                    <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="locationId" [(ngModel)]="location.locationId"
                        #locationId="ngModel" hidden>
                </div>&nbsp;&nbsp;


                <label class="mr-sm-2 mb-0 col-form-label-sm">Location Name
                    <span class="req" style="color: Red">*</span>

                </label> &nbsp;&nbsp;
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="locationName" [(ngModel)]="location.locationName"
                         #locationName="ngModel" autocomplete="off" required>

                </div>


                &nbsp;&nbsp;

                <div class="form-group">
                    <button type="button" *ngIf="location.locationId" class="btn btn-info btn-sm" [disabled]="!formControl.valid" (click)="updateLocation()">Update</button>
                    <button type="button" *ngIf="!location.locationId" class="btn btn-info btn-sm" [disabled]="!formControl.valid" (click)="saveLocation()">Add </button>

                </div>
                <div style="padding-left:150px;padding-top:7px;color:red;" *ngIf="locationExists">
                    <h6>{{locationMessage}}</h6>
                </div>
                <div style="padding-left:100px;padding-top:10px;" *ngIf="successField">
                    <h6 class="successmsg">
                        Location Added Successfully!
                    </h6>
                </div>
                <div style="padding-left:100px;padding-top:10px;" *ngIf="authenticationError">
                    <h6 class="errormsg">Something went wrong. Please try again!</h6>
                </div>
                <div *ngIf="successEdit" style="padding-left:100px;padding-top:10px;">
                    <h6 class="successmsg">Location updated successfully !</h6>
                </div>

            </form>
        </div>



    </div>
</ng-template>

<!-- -----------------------------------------------------Delete Location--------------------------------------------- -->

<ng-template #deleteModal let-c="close" let-d="dismiss">

    <div class="modal-content" style="background-color: khaki;">

        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">

                    <h5 style="color:green; text-align: center"> Are You Sure Want To Delete: {{location.locationName}}</h5>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row justify-content-center">
                <div class="col-sm-12" style="margin-right: 127px;">
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteLocation(location)">Yes</button>
                    <button type="button" class="btn btn-outline-info btn-sm" (click)="closeModel()">No</button>
                </div>
            </div>
        </div>

    </div>
</ng-template>