<app-menu></app-menu>

<!-- <div class="container"> -->
<div class="row" style="padding:2%">
    <div class="col-sm-12">
        <table class="table">
            <tbody>
                <tr>
                    <td class="table-danger">
                        Total Login Failure : {{this.loginfailDetails}}
                    </td>
                    <td class="table-danger">
                        Last Login Fail: {{this.lastloginFailDetail.dateTime}}
                    </td>
                </tr>
                <tr>
                    <td class="table-success">
                        Total Login Success : {{this.loginsuccessDetails}}
                    </td>
                    <td class="table-success">
                        Last Login Success : {{this.lastloginSuccessDetail.login_datetime}}
                    </td>

                </tr>
        </table>
    </div>
    <!-- <div class="col-sm-6">
        <p class="text-center" style="font-family: verdana; font-size: 14px; margin: -5px 0px 0px 0px;  color:red;">Login Failure : {{this.loginfailDetails}}</p>
        <p class="text-center" style="font-family: verdana; font-size: 14px; margin: -5px 0px 0px 0px;  color:green;">Login Success : {{this.loginsuccessDetails}}</p>
    </div>
    <div class="col-sm-6">
        <p class="text-center" style="font-family: verdana; font-size: 14px; margin: -5px 0px 0px 0px;  color:red;">Last Login Fail: {{this.lastloginFailDetail.dateTime}}</p>
        <p class="text-center" style="font-family: verdana; font-size: 14px; margin: -5px 0px 0px 0px;  color:green;">Last Login Success : {{this.lastloginSuccessDetail.login_datetime}}</p>
    </div> -->
</div>
<div class="row" style="padding:20%">
    <div class="col-sm-12">
        <p class="text-center font-weight-bold" style="font-family: verdana; font-size: 16px; margin: -5px 0px 0px 0px;  color: black;">
            NTPC MESSAGING PORTAL
        </p>
        <hr style="border: 1px solid black">
        <p class="text-center font-italic" style="font-family: verdana; font-size: 13px; margin: -5px 0px 0px 0px;  color:brown;">Instant Messaging Services</p>

        <!-- <h4 class="text-center">NTPC ALERT SERVICES</h4>
            <hr>
            <p class="text-center">Insta Voice & Messaging Services</p> -->
    </div>
</div>
<!-- </div> -->