
<div class="row">
    <div class="col-sm-8">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <!-- Card 1 -->
                <div class="card h-100 text-black bg-secondary">
                    <div class="card-body">
                        <div id="demo" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                                <li data-target="#demo" data-slide-to="3"></li>
                                <li data-target="#demo" data-slide-to="4"></li>
                                <li data-target="#demo" data-slide-to="5"></li>
                                <li data-target="#demo" data-slide-to="6"></li>
                                <li data-target="#demo" data-slide-to="7"></li>
                                <li data-target="#demo" data-slide-to="8"></li>
                                <li data-target="#demo" data-slide-to="9"></li>
                                <li data-target="#demo" data-slide-to="10"></li>

                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../assets/images/slider/slide (1).jpg" alt="Image1" width="{{WIDTH}}" height="{{HEIGHT}}">
                                </div>
                                <div class="carousel-item" *ngFor="let item of images;let i=index;">
                                    <img src="../assets/images/slider/slide ({{item.item}}).jpg" alt="Image{{item.item}}" width="{{WIDTH}}" height="{{HEIGHT}}">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">

        <!----------------------------------------------------LoginIn Page------------------------------------------------------- -->
        <div class="card card-container" *ngIf="loginpage">
            <!-- <div style="text-align: center;" *ngIf="authenticationError">
                <h6 class="errormsg">LoginId or Password is Incorrect</h6>
            </div> -->
            <img id="profile-img" class="profile-img-card" src="../../assets/images/LOGIN_IMG.png" />
             <p  id="profile-name" class="profile-name-card">
                <span class="badge  text-center;">
                    <!-- Total Login : {{allLoginDetails}} -->
                </span>
            </p>


            <form name="form-login" #adminForm="ngForm" (ngSubmit)="adminForm.form.valid && login()" novalidate>
                <div class="alert alert-danger" role="alert" *ngIf="authenticationError">LoginId or Password is Incorrect</div>
                <div class="form-group" [ngClass]="{ 'has-error': adminForm.submitted && !loginId.valid }">
                    <label for="username">Login Id
                        <span class="req" style="color: Red">*</span>
                    </label>
                    <input type="text" class="form-control" id="loginId" name="loginId" #loginId=ngModel [(ngModel)]="admin.loginId" placeholder="Enter LoginId"
                    autocomplete="off"   required />
                    <div *ngIf="adminForm.submitted && !loginId.valid" class="help-block validation_require">an valid loginId is required</div>
                </div>

                <div class="form-group">
                    <label for="username">Password
                        <span class="req" style="color: Red">*</span>
                    </label>
                    <input type="password" class="form-control" id="password" name="password" #password=ngModel [(ngModel)]="admin.password"
                        placeholder="Enter Password" required>
                    <div *ngIf="adminForm.submitted && !password.valid" class="help-block validation_require">Password is required</div>
                </div>

                <button class="btn btn-primary btn-block btn-signin" type="submit">Log in</button>

            </form>
            <br>
            <button type="button" class="btn btn-danger btn-block btn-forget" (click)="showForgetPage()">Forget Password&nbsp;
                <i class="fa fa-question-circle" aria-hidden="true"></i>
            </button>
        </div>

        <!----------------------------------------------------ForgetPassword Page------------------------------------------------------- -->
        <div class="card card-container" *ngIf="forgetpasswordPage">
            <img id="profile-img" class="profile-img-card" src="../../assets/images/FORGET_IMG.png" />
            <p id="profile-name" class="profile-name-card">
                <span class="badge badge-pill badge-success  text-center;">Total Login : {{allLoginDetails}}</span>
            </p>
            <form name="form-forget" #forgetForm="ngForm" (ngSubmit)="forgetForm.form.valid && forget()" novalidate>
                <!-- <form #forgetForm="ngForm" (ngSubmit)="onSubmit1(forgetForm.value)"> -->
                <div class="alert alert-danger" role="alert" *ngIf="wrongId">Loginid is Incorrect</div>
                <div class="alert alert-danger" role="alert" *ngIf="wrongMobile">Mobile number is Incorrect</div>
                <div class="form-group">
                    <label for="username">Login Id
                        <span class="req" style="color: Red">*</span>
                    </label>
                    <input type="text" class="form-control" id="loginId" name="loginId" #loginId=ngModel [(ngModel)]="admin.loginId" placeholder="Enter LoginId"
                    autocomplete="off"   required />
                    <div *ngIf="forgetForm.submitted && !loginId.valid" class="help-block validation_require">an valid loginId is required</div>
                </div>

                <div class="form-group">
                    <label for="username">Mobile
                        <span class="req" style="color: Red">*</span>
                    </label>
                    <input type="text" class="form-control" id="mobile" name="mobile" #mobile=ngModel [(ngModel)]="admin.mobile" placeholder="Enter mobile"
                        maxlength="10" (keypress)="restrictNumeric($event)" required>
                    <div *ngIf="forgetForm.submitted && !mobile.valid" class="help-block validation_require">Mobile is required</div>
                </div>

                <button class="btn btn-primary btn-block btn-signin" type="submit">Click</button>
                <!-- <div style="text-align: center;" *ngIf="authenticationError">
                    <h6 class="errormsg">UserName or password incorrect!</h6>
                </div> -->

            </form>
            <br>
            <button type="button" class="btn btn-danger btn-block btn-login" (click)="loginPage()">Login Page&nbsp;
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </button>
            <!-- <div style="text-align: center;" *ngIf="wrongId">
                <h6 class="errormsg">Incorrect LoginId !</h6>
            </div>
            <div style="text-align: center;" *ngIf="wrongMobile">
                <h6 class="errormsg">Number not matched !</h6>
            </div> -->
            <div style="text-align: center;" *ngIf="successField">
                <h6 class="successmsg">Your Password Sent to Your Resgistered Mobile Number !</h6>
            </div>
        </div>

    </div>

    <!-- <div class="col-sm-5">
        <div class="col-sm-12">
            <span class="badge badge-pill badge-danger  text-center;">Total Visit : {{allLoginDetails}}</span>
        </div>
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="col-sm-12" *ngIf="forgetpasswordPage">
                 
                    <div class="card h-100 text-black border-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-6 h5  text-left">
                                    Forget Password
                                </div>
                                <div class="col-sm-6 text-right">
                                    <button type="button" class="btn btn-outline-success btn-sm mb-2" (click)="loginPage()">Login Page&nbsp;
                                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                                    </button>
                                </div>

                            </div>
                         
                        </div>
                        <div class="card-body">
                            <form #forgetForm="ngForm" (ngSubmit)="onSubmit1(forgetForm.value)">

                                <div class="input-group input-group-sm mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text HEAD">Enter Your Login Id</span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm" id="loginId" name="loginId" ngModel aria-label="Amount (rounded to the nearest dollar)"
                                        aria-describedby="basic-addon">
                                </div>
                                <div class="input-group input-group-sm mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text HEAD">Enter Registered Mob No</span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm" id="mobile" name="mobile" ngModel aria-label="Amount (rounded to the nearest dollar)"
                                        aria-describedby="basic-addon">
                                </div>

                               
                                <div class="form-group row justify-content-center">
                                    <div class="col-xs-7" style="text-align:left;">
                                        <button type="submit">
                                            <span class="badge badge-pill badge-primary">Click</span>
                                        </button>
                                    </div>

                                </div>
                                <div style="text-align: center;" *ngIf="authenticationError">
                                    <h6 class="errormsg">UserName or password incorrect!</h6>
                                </div>
                            </form>
                            <span id="helpAccountId" class="form-text text-success">Your Password Sent On Your Resgistered Mobile Number.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" *ngIf="loginpage">
                   
                    <div class="card h-100 text-black border-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-6 h5  text-left">
                                    Log In
                                </div>
                                <div class="col-sm-6 text-right">
                                    <button type="button" class="btn btn-outline-danger btn-sm mb-2" (click)="showForgetPage()">Forget Passoword&nbsp;
                                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    </button>
                                </div>

                            </div>
                        
                        </div>
                        <div class="card-body">
                            <form #adminForm="ngForm" (ngSubmit)="onSubmit(adminForm.value)">

                                <div class="form-group row justify-content-center">
                                    <label for="first_name" class="col-xs-1 col-form-label mr-1">
                                        Login Id
                                        <span class="req" style="color: Red">*</span>
                                    </label>
                                    <div class="col-sm-8" style="margin-left: 9px;">
                                        <input type="text" class="form-control form-control-sm" id="loginId" name="loginId" ngModel placeholder="Enter LoginId">
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <label for="last_name" class="col-xs-1 col-form-label mr-1">
                                        Password
                                        <span class="req" style="color: Red">*</span>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control form-control-sm" id="password" name="password" ngModel placeholder="Enter Password">
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <div class="col-xs-7" style="text-align:left;">
                                        <button type="submit">
                                            <span class="badge badge-pill badge-primary">Log In</span>
                                        </button>
                                    </div>

                                </div>
                                <div style="text-align: center;" *ngIf="authenticationError">
                                    <h6 class="errormsg">UserName or password incorrect!</h6>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="margin-top: 10px;">
                    <div class="card h-100 text-black border-primary">
                        <div class="card-header">
                            <h6 class="card-title" class="text-center" style="color: rgb(41, 8, 8)">Latest News</h6>
                        </div>
                        <div class="card-body">
                            <marquee Height=155px scrolldelay="320" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                                <ul style="list-style-type:disc" *ngFor="let news of newsList">

                                    <li class="card-text">
                                        {{news.newsTitle}}
                                    </li>

                                </ul>

                            </marquee>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> -->
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card h-100 text-black border-secondary">
            <div class="card-header" style="background-color: cadetblue;">
                <h6 class="card-title" class="text-center" style="color: rgb(41, 8, 8)">Latest News</h6>
            </div>
            <div class="card-body">
                <marquee Height="145px" scrolldelay="310" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                    <ul style="list-style-type:disc" *ngFor="let news of newsList">

                        <li class="card-text">
                            {{news.newsTitle}}
                        </li>

                    </ul>

                </marquee>
            </div>
        </div>
    </div>
</div>



